uploader/firmware_ap_beta.json
[{"id":"68819360.7e7a7c","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"d6a01399.60299","type":"tab","label":"SCAN","disabled":false,"info":""},{"id":"532cea09.a25754","type":"tab","label":"Cloud","disabled":false,"info":"","env":[]},{"id":"3ec97011.20579","type":"tab","label":"External","disabled":false,"info":""},{"id":"67f0d11b.66aa4","type":"tab","label":"SETTINGS","disabled":false,"info":""},{"id":"4aee81d.130dd8","type":"tab","label":"UPDATE","disabled":false,"info":""},{"id":"eb006cad2241cba3","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f15aaf51.f4429","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"OpenScan Pi","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":46,"sy":46,"gx":10,"gy":10,"cx":6,"cy":6,"px":6,"py":6}}},{"id":"c19e2c9e.f4b99","type":"ui_spacer","name":"spacer","group":"","order":8,"width":8,"height":1},{"id":"75afd9cb.6a3ed8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"e49ddca1.744a","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"987b4012.f9a07","type":"ui_spacer","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"caea0d6c.4e75","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"3fadc6db.3997ea","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"f5864201.8e5ff","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"9c6a04ac.e760a8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":1,"height":1},{"id":"bb5bfba5.b3b7b8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"79b73861.bb6048","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"1ecaa9e9.4192e6","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"e58f9de6.10904","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"924edf62.f208d","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"1303ee2a.fd44f2","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"5d12f9cd.9c4a88","type":"ui_spacer","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"88a2f658.ac2378","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"d25e08b4.5b27e8","type":"ui_tab","name":"Update & Info","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"ddbd496e.93a288","type":"ui_group","name":"Manage Updates","tab":"d25e08b4.5b27e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ce32450.e0cffc","type":"ui_group","name":"Changelog","tab":"d25e08b4.5b27e8","order":2,"disp":true,"width":16,"collapse":false},{"id":"436c5312.8bd37c","type":"ui_spacer","name":"spacer","group":"","order":2,"width":3,"height":1},{"id":"76c2902a.e0813","type":"ui_spacer","name":"spacer","group":"","order":4,"width":3,"height":1},{"id":"e3c989ac.ead728","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"b9e9bd43.5257f","type":"ui_spacer","name":"spacer","group":"d77de880.1a5308","order":3,"width":1,"height":1},{"id":"2da4bd3.c2b1042","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"9f0a90cb.629f4","type":"ui_spacer","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"120b6320.a5e22d","type":"ui_spacer","name":"spacer","group":"","order":9,"width":9,"height":1},{"id":"1b856f2d.ee2f81","type":"ui_spacer","name":"spacer","group":"","order":20,"width":9,"height":1},{"id":"fb2c4085.a4745","type":"ui_spacer","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"45252825.fee608","type":"ui_spacer","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"ad9b6a27.771fb8","type":"ui_spacer","name":"spacer","group":"","order":12,"width":6,"height":1},{"id":"b69edebc.8b32b","type":"ui_spacer","name":"spacer","group":"","order":19,"width":6,"height":1},{"id":"453edabd.318834","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"31161d86.3baa62","type":"ui_spacer","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"feedb515.8ba2a8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"58ec052e.d6a8ec","type":"ui_spacer","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"ebb9ea9b.845978","type":"ui_spacer","name":"spacer","group":"","order":5,"width":5,"height":1},{"id":"404f41e6.f5a04","type":"ui_spacer","name":"spacer","group":"","order":7,"width":5,"height":1},{"id":"10d8d56.f5d9f2b","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"c3ea9d05.8cf78","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"8df9a49e.afb168","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"faa2aaa7.b50e98","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3be89360.d049cc","type":"ui_group","name":"Home","tab":"faa2aaa7.b50e98","order":1,"disp":false,"width":"6","collapse":false},{"id":"82fa21b6.fb85e","type":"ui_tab","name":"Settings","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"bb1dd00e.a62b9","type":"ui_group","name":"General","tab":"82fa21b6.fb85e","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"6a63d9e3.95e668","type":"ui_group","name":"Network","tab":"82fa21b6.fb85e","order":4,"disp":true,"width":"6","collapse":true,"className":""},{"id":"61d79297.21257c","type":"ui_spacer","name":"spacer","group":"b961bcf7.823e3","order":2,"width":1,"height":1},{"id":"e6f493e3.fca36","type":"ui_spacer","name":"spacer","group":"69964d6a.08a804","order":3,"width":1,"height":1},{"id":"8c3a2020.a3c41","type":"ui_tab","name":"Scan","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a3116208.14508","type":"ui_group","name":"Main","tab":"8c3a2020.a3c41","order":1,"disp":false,"width":"6","collapse":false},{"id":"5926c870.c5bfb8","type":"ui_group","name":"PreviewMini","tab":"8c3a2020.a3c41","order":2,"disp":false,"width":"10","collapse":false},{"id":"e8b6a9ce.c333b8","type":"ui_group","name":"Group 1","tab":"","order":2,"disp":false,"width":13,"collapse":false},{"id":"5454a77c.a587d8","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"d5240292.8c8b5","type":"ui_spacer","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"ddad0159.b0b4b","type":"ui_spacer","name":"spacer","group":"","order":3,"width":3,"height":1},{"id":"a50661bc.1fa49","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"384b7d50.06da52","type":"ui_spacer","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"30a6ca20.ffc1c6","type":"ui_spacer","name":"spacer","group":"","order":8,"width":4,"height":1},{"id":"1e226dbf.9220f2","type":"ui_group","name":"General Parameters","tab":"82fa21b6.fb85e","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"3d48edae.861ef2","type":"ui_group","name":"PreviewClassic","tab":"8c3a2020.a3c41","order":3,"disp":false,"width":"14","collapse":false},{"id":"de6b8056.e888a","type":"ui_spacer","name":"spacer","group":"ddbd496e.93a288","order":5,"width":6,"height":1},{"id":"316e6e17.634362","type":"ui_group","name":"External","tab":"8c3a2020.a3c41","order":4,"disp":true,"width":"6","collapse":false},{"id":"9b4feca5.bc36","type":"ui_group","name":"None","tab":"8c3a2020.a3c41","order":5,"disp":false,"width":14,"collapse":false},{"id":"c6d5a84e.8a6aa8","type":"ui_spacer","name":"spacer","group":"e8b6a9ce.c333b8","order":3,"width":1,"height":1},{"id":"74db48c9.a99ac8","type":"ui_group","name":"Cloud","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"68facc19.806c64","type":"ui_spacer","name":"spacer","group":"74db48c9.a99ac8","order":5,"width":6,"height":1},{"id":"15a222ed.d70a7d","type":"ui_tab","name":"Files&Cloud","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b5fdd57b.15eda8","type":"ui_group","name":"Main","tab":"15a222ed.d70a7d","order":1,"disp":false,"width":"15","collapse":false},{"id":"db43d646.2074c8","type":"ui_group","name":"OpenScanCloud","tab":"15a222ed.d70a7d","order":2,"disp":true,"width":"6","collapse":false},{"id":"bf7dc348b034d911","type":"ui_group","name":"OpenScanCloud","tab":"82fa21b6.fb85e","order":5,"disp":true,"width":"6","collapse":true,"className":""},{"id":"7a51a54466497a3e","type":"ui_spacer","z":"67f0d11b.66aa4","name":"spacer","group":"a3116208.14508","order":18,"width":6,"height":1},{"id":"9a11d96379fa2ca5","type":"ui_spacer","z":"67f0d11b.66aa4","name":"spacer","group":"a3116208.14508","order":19,"width":1,"height":1},{"id":"dbbb8091607449c7","type":"ui_spacer","z":"67f0d11b.66aa4","name":"spacer","group":"a3116208.14508","order":22,"width":1,"height":1},{"id":"f9c729b792bc561b","type":"ui_spacer","z":"68819360.7e7a7c","name":"spacer","group":"3be89360.d049cc","order":6,"width":6,"height":1},{"id":"ebec5282a77f8454","type":"ui_spacer","z":"68819360.7e7a7c","name":"spacer","group":"3be89360.d049cc","order":8,"width":6,"height":1},{"id":"53482f3ffdf649e3","type":"ui_group","name":"Motor Parameters","tab":"82fa21b6.fb85e","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"576722a82cb78e36","type":"ui_spacer","z":"67f0d11b.66aa4","name":"spacer","group":"bb1dd00e.a62b9","order":5,"width":1,"height":1},{"id":"cb79ed4eeff347df","type":"ui_spacer","z":"67f0d11b.66aa4","name":"spacer","group":"bb1dd00e.a62b9","order":6,"width":6,"height":1},{"id":"6c1630b89023b2ee","type":"ui_spacer","z":"67f0d11b.66aa4","name":"spacer","group":"bb1dd00e.a62b9","order":17,"width":6,"height":1},{"id":"11371e105054b438","type":"ui_spacer","z":"67f0d11b.66aa4","name":"spacer","group":"6a63d9e3.95e668","order":3,"width":6,"height":1},{"id":"2fd3bdd7.2139e2","type":"ui_template","z":"68819360.7e7a7c","group":"3be89360.d049cc","name":"Background","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"/ui/data/logosmall.jpg\");\n  background-repeat: no-repeat;\n  background-attachment: fixed;\n  background-position: center;\n\n    }\n    #Home_Home {\n        background-color: #cccccc00 !important;\n        border-color: #cccccc00 !important;\n    }\n\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":130,"y":120,"wires":[[]]},{"id":"608f3a10.1ee3d4","type":"ui_text","z":"68819360.7e7a7c","group":"3be89360.d049cc","order":9,"width":6,"height":1,"name":"","label":"","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"col-center","x":290,"y":40,"wires":[]},{"id":"88b5807b.a0959","type":"link in","z":"68819360.7e7a7c","name":"New Update Note","links":["c986d5f5.bba4f8","edf1402c.a1828","da63f320.75bcc","ebdd3932.2c1de8"],"x":73,"y":41,"wires":[["608f3a10.1ee3d4"]]},{"id":"8284268a.5399e8","type":"inject","z":"68819360.7e7a7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"Started!","payloadType":"str","x":120,"y":400,"wires":[["c71c9170.f39d5","7dcc8efb.55029","e5288ac0.ca66f8"]]},{"id":"340d59b9.52d586","type":"python3-function","z":"68819360.7e7a7c","name":"download files","func":"import os.path\nimport os\nfrom time import sleep\n\nflag=False\n\nsleep(2)\n\ndef download(file,url):\n    if(os.path.exists(file)==False or os.stat(file)==0):\n        try:\n            os.system('wget -O'+file+' '+url)\n            flag=True\n        except:\n            pass\n        return\n    statinfo=os.stat(file)\n    if(statinfo.st_size==0):\n        try:\n            os.system('wget -O'+file+' '+url)\n            flag=True\n        except:\n            pass        \n        return\n\nfile = '/home/pi/shared/ui/data/bmc-new-btn-logo.svg'\nurl = 'https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg'\ndownload(file,url)\n\nfile = '/home/pi/.node-red/settings_openscan.js'\nurl = 'https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/settings.js'\ndownload(file,url)\n\nfile = '/home/pi/shared/ui/data/logosmall.jpg'\nurl = 'https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/temp/Logosmall.jpg'\ndownload(file,url)\n\nif flag==True:\n    os.system(\"sudo systemctl restart nodered\")\nreturn msg\n","outputs":1,"x":520,"y":460,"wires":[["145315bb.4e8f0a"]]},{"id":"61578186.d7bfe","type":"python3-function","z":"68819360.7e7a7c","name":"create path","func":"import os.path\nimport os\nflag=False\n\ndef new_path(path):\n    if(os.path.exists(path)==False):\n        os.mkdir(path)\n        flag=True\n    else:\n        pass\n\nnew_path(\"/home/pi/shared/\")\nnew_path(\"/home/pi/shared/ui\")\nnew_path(\"/home/pi/shared/ui/data\")\nnew_path(\"/home/pi/shared/ui/data/old_flows\")\nnew_path(\"/home/pi/shared/ui/data/zip\")\nnew_path(\"/home/pi/shared/ui/data/temp\")\nnew_path(\"/home/pi/shared/log\")\n\n\nif flag==True:\n    os.system(\"sudo systemctl restart nodered\")\nreturn msg","outputs":1,"x":430,"y":400,"wires":[[]]},{"id":"4468f691.103eb8","type":"ui_button","z":"68819360.7e7a7c","name":"","group":"3be89360.d049cc","order":2,"width":3,"height":2,"passthru":false,"label":"SCAN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":110,"y":200,"wires":[["62cd5288.2805fc"]]},{"id":"6560dd25.9e76c4","type":"ui_button","z":"68819360.7e7a7c","name":"","group":"3be89360.d049cc","order":4,"width":3,"height":2,"passthru":false,"label":"Settings","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":120,"y":280,"wires":[["62cd5288.2805fc"]]},{"id":"62cd5288.2805fc","type":"ui_ui_control","z":"68819360.7e7a7c","name":"","events":"all","x":321,"y":200,"wires":[["4e47fd3c.83c3d4"]]},{"id":"71e72293.91c6fc","type":"ui_button","z":"68819360.7e7a7c","name":"","group":"3be89360.d049cc","order":3,"width":3,"height":2,"passthru":false,"label":"Files","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":110,"y":240,"wires":[["62cd5288.2805fc"]]},{"id":"e7306ef2.3b4df","type":"ui_button","z":"68819360.7e7a7c","name":"","group":"3be89360.d049cc","order":5,"width":3,"height":2,"passthru":false,"label":"Update&Info","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"4","payloadType":"num","topic":"","topicType":"str","x":130,"y":320,"wires":[["62cd5288.2805fc"]]},{"id":"7dcc8efb.55029","type":"python3-function","z":"68819360.7e7a7c","name":"create new files + content","func":"import os.path\nfrom time import sleep\nimport os\n\nflag=False\n\ndef new_file(filepath,content):\n    if os.path.isfile(filepath):\n        if os.stat(filepath).st_size==0:\n            with open(filepath, \"w\") as file:\n                file.write(content)\n            flag=True\n        else:\n            pass\n    else:\n        with open(filepath, \"w\") as file:\n            file.write(content)\n        flag=True\n\nnew_file(\"/home/pi/shared/log/camera_resolution_x.log\",\"3280\")\nnew_file(\"/home/pi/shared/log/camera_resolution_y.log\",\"2464\")\nnew_file(\"/home/pi/shared/log/camera_type.log\",\"v2\")\n\nnew_file(\"/home/pi/shared/log/rotor_acc.log\",\"1\")\nnew_file(\"/home/pi/shared/log/rotor_accramp.log\",\"200\")\nnew_file(\"/home/pi/shared/log/rotor_angle.log\",\"5\")\nnew_file(\"/home/pi/shared/log/rotor_delay.log\",\"0.0005\")\nnew_file(\"/home/pi/shared/log/rotor_stepsperrotation.log\",\"17067\")\nnew_file(\"/home/pi/shared/log/pin_rotor_dir.log\",\"5\")\nnew_file(\"/home/pi/shared/log/pin_rotor_step.log\",\"6\")\n\nnew_file(\"/home/pi/shared/log/turntable_acc.log\",\"1\")\nnew_file(\"/home/pi/shared/log/turntable_accramp.log\",\"200\")\nnew_file(\"/home/pi/shared/log/turntable_angle.log\",\"10\")\nnew_file(\"/home/pi/shared/log/turntable_delay.log\",\"0.0005\")\nnew_file(\"/home/pi/shared/log/turntable_stepsperrotation.log\",\"3200\")\nnew_file(\"/home/pi/shared/log/pin_turntable_dir.log\",\"9\")\nnew_file(\"/home/pi/shared/log/pin_turntable_step.log\",\"11\")\nnew_file(\"/home/pi/shared/log/pin_externalcam.log\",\"10\")\n\nnew_file(\"/home/pi/shared/log/ringlightstatus1.log\",\"10\")\nnew_file(\"/home/pi/shared/log/ringlightstatus2.log\",\"10\")\nnew_file(\"/home/pi/shared/log/pin_ringlight1.log\",\"17\")\nnew_file(\"/home/pi/shared/log/pin_ringlight2.log\",\"27\")\n\nnew_file(\"/home/pi/shared/log/ssh.log\",\"true\")\nnew_file(\"/home/pi/shared/log/samba.log\",\"true\")\nnew_file(\"/home/pi/shared/log/currentstatus_rpi.log\",\"--READY--\")\nnew_file(\"/home/pi/shared/log/currentstatus_ext.log\",\"--READY--\")\nnew_file(\"/home/pi/shared/log/delay_ext.log\",\"1200\")\n\nnew_file(\"/home/pi/shared/log/cropx.log\",\"0\")\nnew_file(\"/home/pi/shared/log/cropy.log\",\"0\")\nnew_file(\"/home/pi/shared/log/shutterspeed.log\",\"300\")\nnew_file(\"/home/pi/shared/log/stopstate.log\",\"run\")\nnew_file(\"/home/pi/shared/log/updatepreview.log\",\"start\")\n\nnew_file(\"/home/pi/shared/log/feedback_status.log\",\"\")\nnew_file(\"/home/pi/shared/log/openscan_model.log\",\"none\")\nnew_file(\"/home/pi/shared/log/autoupdatestate.log\",\"true\")\nnew_file(\"/home/pi/shared/log/currentserverversion.log\",\"1;\")\nnew_file(\"/home/pi/shared/log/currentversion.log\",\"1\")\nnew_file(\"/home/pi/shared/ui/data/update.log\",\"1\")\nnew_file(\"/home/pi/shared/log/manual_en.log\",\"1\")\nnew_file(\"/home/pi/shared/log/manual_en_new.log\",\"1\")\nnew_file(\"/home/pi/shared/log/feedback_terms.log\",\"False\")\n\nnew_file(\"/home/pi/shared/log/awb_red.log\",\"1.7\")\nnew_file(\"/home/pi/shared/log/awb_blue.log\",\"1.7\")\nnew_file(\"/home/pi/shared/log/angle_min.log\",\"-20\")\nnew_file(\"/home/pi/shared/log/angle_max.log\",\"90\")\nnew_file(\"/home/pi/shared/log/preview.log\",\"True\")\nnew_file(\"/home/pi/shared/log/startangle.log\",\"0\")\n\nnew_file(\"/home/pi/shared/log/cloudstatus.log\",\"\")\nnew_file(\"/home/pi/shared/log/token.log\",\"\")\nnew_file(\"/home/pi/shared/log/size_to_split.log\",\"200000000\")\n\nnew_file('/home/pi/shared/log/ap_name.log', 'OpenScanPi')\n\n\nif flag==True:\n    os.system(\"sudo systemctl restart nodered\")\nreturn msg\n","outputs":1,"x":310,"y":460,"wires":[["340d59b9.52d586"]]},{"id":"145315bb.4e8f0a","type":"python3-function","z":"68819360.7e7a7c","name":"install modules","func":"import os\nfrom pip._internal import main as pipmain\n#os.system(\"sudo rfkill unblock wifi\")\n\nmodules=['requests']\n\nos.system(\"sudo rfkill unblock wifi\")\n\nfor module in modules:\n    status = pipmain(['install', module])\n\n\n\nreturn msg","outputs":1,"x":720,"y":460,"wires":[[]]},{"id":"4e47fd3c.83c3d4","type":"link out","z":"68819360.7e7a7c","name":"","links":["c6dc13ab.7f95b"],"x":456,"y":200,"wires":[]},{"id":"c71c9170.f39d5","type":"python3-function","z":"68819360.7e7a7c","name":"GPU","func":"import os\n\nif os.popen('vcgencmd get_mem gpu').read()[0:8]!=\"gpu=256M\":\n    os.system(\"sudo sed -i -e 's/gpu_mem=128/gpu_mem=256/g' /boot/config.txt\")\n    os.system(\"reboot -h\")\n    \n\nreturn msg","outputs":1,"x":250,"y":400,"wires":[["61578186.d7bfe"]]},{"id":"e5288ac0.ca66f8","type":"python3-function","z":"68819360.7e7a7c","name":"diskspace","func":"import os\nimport subprocess\n\ndiskspace_threshold = 80\n\nmsg2=[]\n\ntry:\n    os.system(\"df| awk -F '%' 'NR==2{print $1}'>tmp\")\n    percentage = int(open('tmp', 'r').read()[-4:-1])\n    os.remove('tmp')\n    msg2['payload'] = str(percentage)+'& used'\n    if percentage > diskspace_threshold:\n        msg['payload'] = 'Diskspace warning! ' + str(percentage) +'% of diskspace in use, please delete some files.'\n        return msg,msg2\nexcept:\n    pass","outputs":1,"x":260,"y":520,"wires":[["c25aef10910bd710"]]},{"id":"c25aef10910bd710","type":"ui_toast","z":"68819360.7e7a7c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":410,"y":520,"wires":[[]]},{"id":"859b62d6756bfa39","type":"python3-function","z":"68819360.7e7a7c","name":"download&install","func":"import os\nimport time\n\nif msg['payload']==\"OK\":\n    os.system('cp /home/pi/.node-red/flows_raspberrypi.json /home/pi/.node-red/backup_'+str(time.time())+'.json')\n    os.system('sudo wget -O /home/pi/.node-red/flows_raspberrypi.json https://raw.githubusercontent.com/OpenScanEu/OpenScanCloud/main/uploader/firmware_ap_beta.json')\n    os.system('node-red-restart')","outputs":1,"x":490,"y":620,"wires":[[]]},{"id":"af062c81ba1e931d","type":"ui_toast","z":"68819360.7e7a7c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Cancel","cancel":"OK","raw":true,"topic":"","name":"","x":310,"y":620,"wires":[["859b62d6756bfa39"]]},{"id":"dbbd414ea0303031","type":"ui_button","z":"68819360.7e7a7c","name":"Install latest version","group":"3be89360.d049cc","order":7,"width":0,"height":0,"passthru":false,"label":"Install latest beta version?","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Install latest version","payloadType":"str","topic":"","topicType":"str","x":130,"y":620,"wires":[["af062c81ba1e931d"]]},{"id":"ec55861d.db0c88","type":"ui_button","z":"d6a01399.60299","name":"start routine","group":"a3116208.14508","order":15,"width":1,"height":1,"passthru":false,"label":"","tooltip":"start the routine","color":"","bgcolor":"","icon":"fa-play","payload":"","payloadType":"date","topic":"enabled","x":150,"y":780,"wires":[["d098c652.525408","a145cea0.e5a6","2bb9319f8a438f1b"]]},{"id":"828e5298.d2192","type":"ui_button","z":"d6a01399.60299","name":"","group":"a3116208.14508","order":7,"width":2,"height":1,"passthru":false,"label":"⇐","tooltip":"Move turntable right","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":570,"y":80,"wires":[["b12e54fb.3141b8"]]},{"id":"96c7e241.458e6","type":"ui_button","z":"d6a01399.60299","name":"","group":"a3116208.14508","order":8,"width":2,"height":1,"passthru":false,"label":"⇒","tooltip":"Move turntable left","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":570,"y":120,"wires":[["37f52dd4.bd7572"]]},{"id":"2e854876.6b6008","type":"ui_button","z":"d6a01399.60299","name":"","group":"a3116208.14508","order":4,"width":2,"height":1,"passthru":false,"label":"⇑","tooltip":"Move rotor up","color":"","bgcolor":"","icon":"","payload":"500","payloadType":"num","topic":"","x":70,"y":80,"wires":[["555aea34.b3b5e4"]]},{"id":"753817f.1b9b3e8","type":"ui_button","z":"d6a01399.60299","name":"","group":"a3116208.14508","order":5,"width":2,"height":1,"passthru":false,"label":"⇓","tooltip":"Move rotor down","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":70,"y":120,"wires":[["9905e0c9.dddcd"]]},{"id":"8775044.3aa3ef8","type":"ui_text","z":"d6a01399.60299","group":"a3116208.14508","order":6,"width":2,"height":1,"name":"","label":"Turntable","format":"{{\"\"}}","layout":"row-center","x":580,"y":40,"wires":[]},{"id":"9e8a2d23.bf6ce","type":"ui_text","z":"d6a01399.60299","group":"a3116208.14508","order":3,"width":2,"height":1,"name":"","label":"Rotor","format":"{{\"\"}}","layout":"row-center","x":70,"y":40,"wires":[]},{"id":"6ab04bf9.304b34","type":"python3-function","z":"d6a01399.60299","name":"TT left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_turntable_step\"))\nDIR=int(load(\"pin_turntable_dir\"))\nstep_count=int(load(\"turntable_stepsperrotation\"))\ndelaytt=float(load(\"turntable_delay\"))\nangle=float(load(\"turntable_angle\"))\nramp=int(load(\"turntable_accramp\"))\nacc=ramp*float(load(\"turntable_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\ndelay=delaytt\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":831,"y":80,"wires":[["e7ba40b3.31032"]]},{"id":"8ed4a4f6.4e9ba8","type":"python3-function","z":"d6a01399.60299","name":"TT right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_turntable_step\"))\nDIR=int(load(\"pin_turntable_dir\"))\nstep_count=int(load(\"turntable_stepsperrotation\"))\ndelaytt=float(load(\"turntable_delay\"))\nangle=float(load(\"turntable_angle\"))\nramp=int(load(\"turntable_accramp\"))\nacc=ramp*float(load(\"turntable_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\ndelay=delaytt\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":840,"y":120,"wires":[["e7ba40b3.31032"]]},{"id":"46e00b45.c24ca4","type":"python3-function","z":"d6a01399.60299","name":"Rotor left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_rotor_step\"))\nDIR=int(load(\"pin_rotor_dir\"))\nstep_count=int(load(\"rotor_stepsperrotation\"))\ndelaytt=float(load(\"rotor_delay\"))\nangle=float(load(\"rotor_angle\"))\nramp=int(load(\"rotor_accramp\"))\nacc=ramp*float(load(\"rotor_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":340,"y":80,"wires":[["a8e4056f.671c58"]]},{"id":"f8d64a61.cc2d68","type":"python3-function","z":"d6a01399.60299","name":"Rotor right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_rotor_step\"))\nDIR=int(load(\"pin_rotor_dir\"))\nstep_count=int(load(\"rotor_stepsperrotation\"))\ndelaytt=float(load(\"rotor_delay\"))\nangle=float(load(\"rotor_angle\"))\nramp=int(load(\"rotor_accramp\"))\nacc=ramp*float(load(\"rotor_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":350,"y":120,"wires":[["a8e4056f.671c58"]]},{"id":"e7ba40b3.31032","type":"link out","z":"d6a01399.60299","name":"","links":["2ec25eee.175402","35a36b3b.902074","9eafa9a.929b058","8265a779.7254d8"],"x":955,"y":100,"wires":[]},{"id":"a8e4056f.671c58","type":"link out","z":"d6a01399.60299","name":"","links":["2ec25eee.175402","35a36b3b.902074","9eafa9a.929b058","8265a779.7254d8"],"x":455,"y":100,"wires":[]},{"id":"555aea34.b3b5e4","type":"delay","z":"d6a01399.60299","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":200,"y":80,"wires":[["46e00b45.c24ca4"]]},{"id":"9905e0c9.dddcd","type":"delay","z":"d6a01399.60299","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":200,"y":120,"wires":[["f8d64a61.cc2d68"]]},{"id":"b12e54fb.3141b8","type":"delay","z":"d6a01399.60299","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":700,"y":80,"wires":[["6ab04bf9.304b34"]]},{"id":"37f52dd4.bd7572","type":"delay","z":"d6a01399.60299","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":700,"y":120,"wires":[["8ed4a4f6.4e9ba8"]]},{"id":"72dbc485.cfa6cc","type":"ui_button","z":"d6a01399.60299","name":"stop routine","group":"a3116208.14508","order":16,"width":1,"height":1,"passthru":false,"label":"","tooltip":"stop the routine","color":"","bgcolor":"","icon":"fa-stop","payload":"numberofphotos","payloadType":"global","topic":"","x":670,"y":720,"wires":[["661f4357.da73cc","5ed56421.39b04c"]]},{"id":"1803d412.6aff6c","type":"python3-function","z":"d6a01399.60299","name":"goto Endstop","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nif load(\"currentstatus_rpi\")==\"no camera found\" or load(\"currentstatus_rpi\")[:5]==\"Featu\":\n    return\n\n\nwrite(\"currentstatus_rpi\",\"Routine-preparing\")\n\n\n\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delaytt=float(file.read())\n\nwith open(\"/home/pi/shared/log/rotor_angle.log\", \"r\") as file:\n    angle=float(file.read())\nwith open(\"/home/pi/shared/log/rotor_accramp.log\", \"r\") as file:\n    ramp=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_acc.log\", \"r\") as file:\n    acc=ramp*float(file.read())   \n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delaytt=float(file.read())\nwith open(\"/home/pi/shared/log/rotor_angle.log\", \"r\") as file:\n    angle=float(file.read())\nwith open(\"/home/pi/shared/log/rotor_accramp.log\", \"r\") as file:\n    ramp=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_acc.log\", \"r\") as file:\n    acc=ramp*float(file.read())   \n\nstep_count=1000\nendstoppin=25\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(endstoppin, GPIO.IN)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\n\n\nfor x in range(50000):\n    if GPIO.input(endstoppin)!=1 or x<200:\n        GPIO.output(STEP, GPIO.HIGH)\n        if x<=ramp and x<=step_count/2:\n            delay=delaytt+(ramp-x)*delaytt/acc\n        sleep(delay)\n        GPIO.output(STEP, GPIO.LOW)\n        sleep(delay)\nGPIO.cleanup()\n\nreturn msg","outputs":1,"x":1169,"y":680,"wires":[[]]},{"id":"2b94f4d0.70e3cc","type":"python3-function","z":"d6a01399.60299","name":"Run Routine","func":"import time\nfrom time import sleep\nfrom picamera import PiCamera\nimport math\nimport RPi.GPIO as GPIO\nfrom zipfile import ZipFile\nimport os\nfrom PIL import Image\n\n\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\n\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nif load(\"currentstatus_rpi\")==\"no camera found\" or load(\"currentstatus_rpi\")[:5]==\"Featu\":\n    return\n\ndef ttrun(angle):\n    step_count=int(angle*ttspr/360)\n    GPIO.setup(dirpintt, GPIO.OUT)\n    GPIO.setup(steppintt, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpintt, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpintt, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppintt, GPIO.HIGH)\n        if x<=ttramp and x<=step_count/2:\n            delay=delaytt+(ttramp-x)*delaytt/ttacc\n        elif step_count-x<=ttramp and x>step_count/2:\n            delay=delaytt+(ttramp-step_count+x)*delaytt/ttacc\n        sleep(delay)\n        GPIO.output(steppintt, GPIO.LOW)\n        sleep(delay)\n\ndef rotorrun(angle):\n    \n    step_count=int(angle*rotorspr/360)\n    GPIO.setup(dirpinrotor, GPIO.OUT)\n    GPIO.setup(steppinrotor, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpinrotor, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpinrotor, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppinrotor, GPIO.HIGH)\n        if x<=rotorramp and x<=step_count/2:\n            delay=delayrotor+(rotorramp-x)*delayrotor/rotoracc\n        elif step_count-x<=rotorramp and x>step_count/2:\n            delay=delayrotor+(rotorramp-step_count+x)*delayrotor/rotoracc\n        sleep(delay)\n        GPIO.output(steppinrotor, GPIO.LOW)\n        sleep(delay)\n\ndef get_points(samples=1):\n    points = []\n    phi = math.pi * (3. - math.sqrt(5.))\n    for i in range(samples):\n        y = 1 - (i / float(samples - 1)) * 2  \n        radius = math.sqrt(1 - y * y)  \n        theta = phi * i  \n        x = math.cos(theta) * radius\n        z = math.sin(theta) * radius\n        r=math.sqrt(x*x+y*y+z*z)\n        theta_neu=math.acos(z/r)*180/math.pi\n        phi_neu=math.atan2(y,x)*180/math.pi\n        points.append((theta_neu-90,phi_neu))\n    points.sort()\n    return points\n\ndef filter_points(angle_min, angle_max,point_count):\n    point_count_final=point_count\n    point_count=point_count*90/(angle_max-angle_min)\n    actual_points=0\n    while actual_points<point_count_final:\n        points=get_points(point_count)\n        filtered=[]\n        for x,y in points:\n            if x>angle_min and x<angle_max and len(filtered)<point_count_final:\n                filtered.append((x,y))\n        actual_points=len(filtered)\n\n        if point_count-actual_points>20:\n            point_count=point_count+3\n        else:\n            point_count=point_count+1\n    return filtered\n\ndef zip(filepath):\n    with ZipFile(\"/home/pi/shared/temp.zip\", \"a\", allowZip64=True) as zip:\n        zip.write(filepath, os.path.basename(filepath))\n    os.remove(filepath)\n\nwrite(\"currentstatus_rpi\",\"Routine-preparing\")\nsleep(1.5)\n\ndirpinrotor=int(load(\"pin_rotor_dir\"))\nsteppinrotor=int(load(\"pin_rotor_step\"))\ndirpintt=int(load(\"pin_turntable_dir\"))\nsteppintt=int(load(\"pin_turntable_step\"))\nrotorspr=int(load(\"rotor_stepsperrotation\"))\nttspr=int(load(\"turntable_stepsperrotation\"))\ndelayrotor=float(load(\"rotor_delay\"))\ndelaytt=float(load(\"turntable_delay\"))\nttramp=int(load(\"turntable_accramp\"))\nttacc=ttramp*float(load(\"turntable_acc\"))\nrotorramp=int(load(\"rotor_accramp\"))\nrotoracc=rotorramp*float(load(\"rotor_acc\"))\nprojectname=load(\"projectname\")\n\nshutterspeed=100*int(load(\"shutterspeed\"))\nresx=int(load(\"camera_resolution_x\"))\nresy=int(load(\"camera_resolution_y\"))\ncurrentstatus=load(\"currentstatus_rpi\")\ncropx=float(load(\"cropx\"))\ncropy=float(load(\"cropy\"))\nawb_red=float(load(\"awb_red\"))\nawb_blue=float(load(\"awb_blue\"))\n\nangle_max=int(load(\"angle_max\"))\nangle_min=int(load(\"angle_min\"))\nstartangle=int(load(\"startangle\"))\n\n\nmodel=load(\"openscan_model\")\n\npoint_count=msg['payload']\n\nprojectcode =time.strftime(\"20%y-%m-%d_%H.%M.%S-\")+projectname+'/'\ndirname='/home/pi/shared/'+projectcode\nos.makedirs(dirname)  \n\npoints=filter_points(angle_min,angle_max,point_count)\ncamera = PiCamera(resolution=(resx,resy))\nlastpoint=(startangle,0)\n\ncounter=0\n\nfor p in points:\n    counter=counter+1\n    if load(\"currentstatus_rpi\")==\"Routine-stopping\":\n        break\n    write(\"currentstatus_rpi\",\"Routine-Photo \"+str(counter)+\" of \"+str(point_count))\n    rotorrun(lastpoint[0]-p[0])\n    ttrun(p[1]-lastpoint[1])\n    lastpoint=p\n\n    filepath = dirname+projectname+'_'+str(counter)+\".jpg\"\n    camera.iso = 100\n    camera.meter_mode = 'spot'\n    camera.shutter_speed = shutterspeed\n    camera.exposure_mode = 'off'\n    camera.awb_mode = 'off'\n    camera.awb_gains = (awb_red,awb_blue)\n    camera.brightness = 50\n    camera.contrast = 0\n    camera.exposure_compensation = 0 \n    zoom_x_center=cropx/200\n    zoom_y_center=cropy/200\n    zoom_x_width=1-cropx/100\n    zoom_y_height=1-cropy/100\n    x=int(resx*zoom_x_width)\n    y=int(resy*zoom_y_height)\n    camera.zoom=(zoom_x_center,zoom_y_center,zoom_x_width,zoom_y_height)\n    sleep(0.5)\n    camera.capture(filepath,quality=100,resize=(x,y))\n\n    if load(\"preview\")==\"true\":\n        img = Image.open(filepath)\n        img = img.resize( [int(0.3 * s) for s in img.size] )\n        if model==\"OpenScanMini\":\n            img  = img.transpose(Image.ROTATE_90)\n        img.save(\"/home/pi/shared/ui/data/preview.jpg\")\n        img.close()\n    zip(filepath)\n    \n\ncamera.close()\ntry:\n    os.rename('/home/pi/shared/temp.zip','/home/pi/shared/ui/data/zip/'+projectcode[:-1]+'.zip')\n    os.rmdir(dirname)\nexcept:\n    pass\nwrite(\"currentstatus_rpi\",\"Routine-done\")\nrotorrun(lastpoint[0]-startangle)\nwrite(\"currentstatus_rpi\",\"--READY--\")\nmsg['enable']=False\nreturn msg","outputs":1,"x":490,"y":780,"wires":[["47063317.6eaffc","72dbc485.cfa6cc","a5b20b52931c5a8d"]]},{"id":"fabd05fd.e60e18","type":"python3-function","z":"d6a01399.60299","name":"Take Preview Shot","func":"from time import sleep\nfrom time import time\nimport subprocess\nfrom PIL import Image\nfrom picamera import PiCamera\n\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nstatus= load(\"currentstatus_rpi\")\npreview = load(\"preview\")\n\n\n\nif msg['flag'] == False:\n    if status[0:5] != 'Routi' or preview != \"true\":\n        return\n\nmsg['payload']=\"/ui/data/preview.jpg?ts=\"+str(int(time()*10))\n\nmodel=load(\"openscan_model\")\n\nif model!=\"OpenScanClassic\" and model!=\"OpenScanMini\":\n    return\n\nif status!=\"--READY--\":\n    if model==\"OpenScanClassic\":\n        return msg,None\n    if model==\"OpenScanMini\":\n        return None,msg\n\nif subprocess.check_output([\"vcgencmd\",\"get_camera\"])[-2:-1]==\"0\":\n    write(\"currentstatus_rpi\",\"no camera found\")\n\nshutterspeed=130*int(load(\"shutterspeed\"))\nresx=int(load(\"camera_resolution_x\"))\nresy=int(load(\"camera_resolution_y\"))\ncropx=float(load(\"cropx\"))\ncropy=float(load(\"cropy\"))\nawb_red=float(load(\"awb_red\"))\nawb_blue=float(load(\"awb_blue\"))\n\nth1 = 30\nth2 = 50\n\ndownscale=3\n\nif cropx > th1 and cropy > th1:\n    downscale = 2\nelif cropx > th2 and cropy >th2:\n    downscale = 1\n\nfilepath=\"./shared/ui/data/preview.jpg\"\n\n\ntry:\n    camera = PiCamera(resolution=(resx/downscale,resy/downscale))\n    camera.iso = 100\n    camera.meter_mode = 'spot'\n    camera.shutter_speed = shutterspeed\n    camera.exposure_mode = 'off'\n    camera.awb_mode = 'off'\n    camera.awb_gains = (awb_red,awb_blue)\n    camera.brightness = 50\n    camera.contrast = 0\n    camera.exposure_compensation = 0 \n    \n    zoom_x_center=cropx/200\n    zoom_y_center=cropy/200\n    zoom_x_width=1-cropx/100\n    zoom_y_height=1-cropy/100\n    \n    x=int(resx/downscale*zoom_x_width)\n    y=int(resy/downscale*zoom_y_height)\n    \n    camera.zoom=(zoom_x_center,zoom_y_center,zoom_x_width,zoom_y_height)\n    camera.capture(filepath,quality=90,resize=(x,y))\n    camera.close()\nexcept:\n    pass\n\n\nif model==\"OpenScanClassic\":\n    return msg,None\nif model==\"OpenScanMini\":\n    img = Image.open(filepath)\n    img  = img.transpose(Image.ROTATE_90)\n    img.save(filepath)\n    img.close()\n    return None,msg","outputs":2,"x":590,"y":600,"wires":[["ee62c618.244b08"],["2c564562.4b74ca"]]},{"id":"c4a2e0fa.72b23","type":"delay","z":"d6a01399.60299","name":"","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1.6","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":280,"y":600,"wires":[["9ee0537b0485201d"]]},{"id":"8265a779.7254d8","type":"link in","z":"d6a01399.60299","name":"Update Preview RPi","links":["4bafeaee.da8274","1519cfac.723f1","1c4b5036.a10fd","1a794560.38424b","529400f0.1e473","cdc6c714.a50768","f5ee2b34.38c468","e24779c5.096f48","bb4b43c8.b49e7","efcbec58.ac2c1","eedbeec5.3e917","fd86cde7.a001f","7d837f2b.4beee","845a52f.82102b","cde489b7.74bc38","d7a485a0.2bbff8","771a440b.43fc7c","f94f9607.4e8fd8","5df71560.5080cc","d3678a8e.ae49f8","e7ba40b3.31032","a8e4056f.671c58","eb62b7d4.0132d8","e4418285.9871","69642193.b4a81"],"x":35,"y":600,"wires":[["c4a2e0fa.72b23"]]},{"id":"26cc92dc.acb20e","type":"ui_slider","z":"d6a01399.60299","name":"","label":"Ringlight","tooltip":"","group":"a3116208.14508","order":9,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"2","step":1,"x":280,"y":520,"wires":[["e60eb5f2.dbfef8"]]},{"id":"7b8b5ab2.f17ee4","type":"ui_slider","z":"d6a01399.60299","name":"shutter ","label":" Shutter","tooltip":"adjust the camera shutter speed","group":"a3116208.14508","order":10,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"1","max":"200","step":"1","x":370,"y":280,"wires":[["a9d6c524.8990b8"]]},{"id":"6bf17a51.1a8844","type":"ui_slider","z":"d6a01399.60299","name":"cropx","label":" Crop X","tooltip":"Crop the image horizontally ","group":"a3116208.14508","order":11,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"90","step":"1","x":370,"y":320,"wires":[["b623ca34.f4e488"]]},{"id":"979e4f10.31314","type":"ui_slider","z":"d6a01399.60299","name":"cropy","label":" Crop Y","tooltip":"crop the image vertically","group":"a3116208.14508","order":12,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"90","step":"1","x":370,"y":360,"wires":[["8deca115.73c88"]]},{"id":"b623ca34.f4e488","type":"python3-function","z":"d6a01399.60299","name":"save","func":"value=str(msg['payload'])\nwith open(\"/home/pi/shared/log/cropx.log\", \"w\") as file:\n    file.write(value)","outputs":1,"x":510,"y":320,"wires":[[]]},{"id":"8deca115.73c88","type":"python3-function","z":"d6a01399.60299","name":"save","func":"value=str(msg['payload'])\nwith open(\"/home/pi/shared/log/cropy.log\", \"w\") as file:\n    file.write(value)\n","outputs":1,"x":510,"y":360,"wires":[[]]},{"id":"a9d6c524.8990b8","type":"python3-function","z":"d6a01399.60299","name":"save","func":"value=str(msg['payload'])\nwith open(\"/home/pi/shared/log/shutterspeed.log\", \"w\") as file:\n    file.write(value)\n","outputs":1,"x":510,"y":280,"wires":[[]]},{"id":"104ac669.d1160a","type":"file in","z":"d6a01399.60299","name":"CropY","filename":"/home/pi/shared/log/cropy.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":230,"y":360,"wires":[["979e4f10.31314"]]},{"id":"16692560.d48c8b","type":"file in","z":"d6a01399.60299","name":"CropX","filename":"/home/pi/shared/log/cropx.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":230,"y":320,"wires":[["6bf17a51.1a8844"]]},{"id":"759846e8.01b538","type":"file in","z":"d6a01399.60299","name":"Shutter","filename":"/home/pi/shared/log/shutterspeed.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":240,"y":280,"wires":[["7b8b5ab2.f17ee4"]]},{"id":"f60d784c.88f6d8","type":"inject","z":"d6a01399.60299","name":"50","props":[{"p":"payload","v":"50","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":90,"y":200,"wires":[["759846e8.01b538","16692560.d48c8b","104ac669.d1160a","a92fee09.5b75f","428250a9.e4c9a","a126c1638e0ed1bc"]]},{"id":"e60eb5f2.dbfef8","type":"python3-function","z":"d6a01399.60299","name":"Ringlight on/off","func":"from time import sleep\nimport RPi.GPIO as GPIO\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nringlightpin1=int(load(\"pin_ringlight1\"))\nringlightpin2=int(load(\"pin_ringlight2\"))\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin1, GPIO.OUT)\nGPIO.setup(ringlightpin2, GPIO.OUT)\n\nstate=msg['payload']\n\nif state == 2:\n    GPIO.output(ringlightpin1, GPIO.HIGH)\n    GPIO.output(ringlightpin2, GPIO.HIGH)\nelif state == 1:\n    GPIO.output(ringlightpin1, GPIO.HIGH)\n    GPIO.output(ringlightpin2, GPIO.LOW)\nelif state == 0:\n    GPIO.output(ringlightpin1, GPIO.LOW)\n    GPIO.output(ringlightpin2, GPIO.LOW)\n","outputs":1,"x":540,"y":520,"wires":[[]]},{"id":"fd775ab5.428b08","type":"inject","z":"d6a01399.60299","name":"","props":[{"p":"payload","v":"0","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":90,"y":520,"wires":[["26cc92dc.acb20e"]]},{"id":"9b6182a7.2e9cf","type":"ui_text","z":"d6a01399.60299","group":"a3116208.14508","order":1,"width":0,"height":0,"name":"","label":"Current Status:","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":540,"y":560,"wires":[]},{"id":"cef21bdb.44c208","type":"python3-function","z":"d6a01399.60299","name":"load&color","func":"def load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\ntry:\n    msg['payload']=load(\"currentstatus_rpi\")\nexcept:\n    msg['payload']=\"\"\n\nif msg['payload']==\"no camera found\":\n    msg['color']=\"red\"\n    pass\nreturn msg","outputs":1,"x":290,"y":560,"wires":[["9b6182a7.2e9cf"]]},{"id":"3d294cf8.de3f04","type":"inject","z":"d6a01399.60299","name":"","props":[{"p":"payload","v":"0.2","vt":"str"},{"p":"topic","v":"Repeat","vt":"string"}],"repeat":"0.2","crontab":"","once":false,"onceDelay":"2.4","topic":"","x":70,"y":560,"wires":[["cef21bdb.44c208","c4a2e0fa.72b23"]]},{"id":"d098c652.525408","type":"change","z":"d6a01399.60299","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"numberofphotos","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":780,"wires":[["2b94f4d0.70e3cc"]]},{"id":"661f4357.da73cc","type":"python3-function","z":"d6a01399.60299","name":"stop","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\nif load(\"currentstatus_rpi\")==\"no camera found\" or load(\"currentstatus_rpi\")[:5]==\"Featu\" or load(\"currentstatus_rpi\")==\"--READY--\":\n    return\n\nwrite(\"currentstatus_rpi\",\"Routine-stopping\")","outputs":1,"x":830,"y":720,"wires":[[]]},{"id":"a92fee09.5b75f","type":"python3-function","z":"d6a01399.60299","name":"blink&initialize","func":"from time import sleep\nimport RPi.GPIO as GPIO\nimport subprocess\nimport os\n\nsleep(14)\n\n\n# check AP\ntempdir = \"/home/pi/shared/log/temp\"\n\nos.system('sudo systemctl status wpa_supplicant@wlan0.service -n 100 > /home/pi/shared/log/temp')\nwith open(tempdir, 'r+') as file:\n    lines = file.readlines()\n\nAP = False\n\nfor line in lines:\n    if 'AP-ENABLED' in line:\n        AP = True\n    if 'AP-DISABLED' in line:\n        AP = False\n#os.remove(tempdir)\n\n#check pi camera:\nif subprocess.check_output([\"vcgencmd\",\"get_camera\"])[-2:-1]==\"0\":\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"no camera found\")\n    return\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"--READY--\")\n\nsleeptime = 0.05\n\n\n#blink:\nwith open(\"/home/pi/shared/log/pin_ringlight1.log\", \"r\") as file:\n    ringlightpin1=int(file.read())\nwith open(\"/home/pi/shared/log/pin_ringlight2.log\", \"r\") as file:\n    ringlightpin2=int(file.read())\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin1, GPIO.OUT)\nGPIO.setup(ringlightpin2, GPIO.OUT)\nGPIO.output(ringlightpin2, GPIO.LOW)\n\nfor x in range(5):\n    GPIO.output(ringlightpin1, GPIO.HIGH)\n    sleep(sleeptime)\n    GPIO.output(ringlightpin1, GPIO.LOW)\n    sleep(sleeptime)\n\nsleep(1)\nx = 1\nif AP == True:\n    x = 2\n\nfor i in range(x):\n    GPIO.output(ringlightpin1, GPIO.HIGH)\n    sleep(0.5)\n    GPIO.output(ringlightpin1, GPIO.LOW)\n    sleep(0.5)\n    \nreturn msg","outputs":1,"x":260,"y":400,"wires":[[]]},{"id":"428250a9.e4c9a","type":"function","z":"d6a01399.60299","name":"Reset Project Name","func":"msg.payload=\"default\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":440,"wires":[["e2c19204.dbf3a","f529b2aa.df168"]]},{"id":"e2c19204.dbf3a","type":"ui_text_input","z":"d6a01399.60299","name":"","label":"Project Name","tooltip":"enter project name + press enter","group":"a3116208.14508","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"","x":480,"y":420,"wires":[["3d89d73987075b80"]]},{"id":"f529b2aa.df168","type":"file","z":"d6a01399.60299","name":"","filename":"/home/pi/shared/log/projectname.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":910,"y":440,"wires":[[]]},{"id":"47063317.6eaffc","type":"link out","z":"d6a01399.60299","name":"","links":["970cd91c.64af38","56bfaded.24c964","d43a7558.561ff8","bfd6a454.75ff08","9fe48cec.1f81f","8ee1b3bb.7b0b3","2f4c0f98.dee2","52d7b84f.51dd18","d5246b3cc796afc6"],"x":615,"y":820,"wires":[]},{"id":"ebdb99aa.b6bc68","type":"ui_button","z":"d6a01399.60299","name":"Show Features Mini","group":"a3116208.14508","order":17,"width":4,"height":1,"passthru":false,"label":"Show Features","tooltip":"Calculate Features on the current preview image","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"","topicType":"str","x":180,"y":900,"wires":[["c40709cc.d9c6b8"]]},{"id":"c40709cc.d9c6b8","type":"python3-function","z":"d6a01399.60299","name":"Preview for features","func":"import time\nimport picamera\nfrom time import sleep\nfrom PIL import Image\nfrom picamera import PiCamera\n\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nif load(\"feedback_terms\")==\"False\":\n    msg['payload']=\"Please read and agree to the Terms of Use (See Settings Menu) before you can use this function\"\n    return None,msg\n\nif load(\"currentstatus_rpi\")[:5]==\"Routi\":\n    return\n\nwrite(\"currentstatus_rpi\",\"Feature-Initialize\")\nsleep(1.5)\n\nshutterspeed=100*int(load(\"shutterspeed\"))\nresx=int(load(\"camera_resolution_x\"))\nresy=int(load(\"camera_resolution_y\"))\ncropx=float(load(\"cropx\"))\ncropy=float(load(\"cropy\"))\nawb_red=float(load(\"awb_red\"))\nawb_blue=float(load(\"awb_blue\"))\n\nmodel=load(\"openscan_model\")\n\nfilepath=\"./shared/ui/data/preview.jpg\"\n\ncamera = PiCamera(resolution=(resx,resy))\ncamera.iso = 100\ncamera.meter_mode = 'spot'\ncamera.shutter_speed = shutterspeed\ncamera.exposure_mode = 'off'\ncamera.awb_mode = 'off'\ncamera.awb_gains = (awb_red,awb_blue)\ncamera.brightness = 50\ncamera.contrast = 0\ncamera.exposure_compensation = 0 \nzoom_x_center=cropx/200\nzoom_y_center=cropy/200\nzoom_x_width=1-cropx/100\nzoom_y_height=1-cropy/100\nx=int(resx*zoom_x_width)\ny=int(resy*zoom_y_height)\ncamera.zoom=(zoom_x_center,zoom_y_center,zoom_x_width,zoom_y_height)\ncamera.capture(filepath,quality=100,resize=(x,y))\ncamera.close()\nimg = Image.open(filepath)\nif model==\"OpenScanMini\":\n    img  = img.transpose(Image.ROTATE_90)\nimg.save(filepath)\nimg.close()\nreturn msg\n","outputs":2,"x":390,"y":900,"wires":[["3138623e.98929e"],["852e46e0.9d80b8"]]},{"id":"3138623e.98929e","type":"python3-function","z":"d6a01399.60299","name":"features","func":"import os\nimport os\nfrom PIL import Image\nimport uuid\nfrom time import time\nfrom time import sleep\nrepeats=5\ndelay=3\n\n\nfilepath=\"/home/pi/shared/ui/data/preview.jpg\"\n\nkey=uuid.uuid4().hex[:30].replace('0','X').replace('O','Y')\n\npw=\"MKN3iOE4u9qICzHzBmjwuWNt8UD62aP8uPxcOqsrwramqrMcoPJd7dJLz44B4VGRUOKk9W5C4viKrrINagKxvmrLDajrgg8Wkh4I\"\nuser=\"feature\"\nserver=\"openscanfeedback.dnsuser.de\"\nport=str(1312)\npw_down=\"nnEDBxDrDPFPWKZIylxbL21U9QhUrnBWIqsnYUgmLPsCd1ZiJtClrS2bxc8wJq7DSIZNOoiWnMNrLnuJadNagCKhsDCyCVRiUBpf\"\nuser_down=\"download\"\ntarget=\"/home/pi/shared/log/\"+key+\".jpg\"\ntarget_feature=\"/home/pi/shared/ui/data/feature.jpg\"\nos.system(\"sudo cp \"+filepath+\" \"+target)\n\ndef status(text):\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(text)\n    msg['payload']=text\n    pass\n\ndef onlinetest():\n    if os.system(\"nc -w 1 \"+server+\" \"+port)==0:\n        status(\"server is online\")\n        \n    else:\n        status(\"server not reachable\")\n        end()\n    pass\n\ndef upload():\n    command=\"curl -k --user \"+user+\":\"+pw+\" sftp://\"+server+\":\"+port+\"/\"+user+\"/ -T \"+target\n    if os.system(command)!=0:\n        status(\"upload failed\")\n        end()\n\n\ndef download():\n    command=\"curl -k --user \"+user_down+\":\"+pw_down+\" sftp://\"+server+\":\"+port+\"/\"+user_down+\"/\"+key+\".jpg -o \"+filepath\n    test=os.system(command)\n    return test\n\nstatus(\"Feature-Testing connection\")\ntry:\n    onlinetest()\nexcept:\n    status(\"Feature-Connection failed\")\n    return\n\nstatus(\"Feature-Uploading\")\ntry:\n    upload()\nexcept:\n    status(\"Feature-Upload failed\")\n    return\nsleep(delay/2)\nstatus(\"Feature-Waiting for file\")\nsleep(delay)\n\nfor x in range (repeats):\n    if download()!=0:\n        status(\"Feature-try: (\"+str(x+1)+\")\")\n        sleep(delay/2)\n    else:\n        sleep(1)\n        os.system(\"sudo cp \"+filepath+\" \"+target_feature)\n        os.system(\"sudo rm \"+target)\n        status(\"--READY--\")\n        timestamp =str(int(time()))\n        msg['payload']='<img src=\"/ui/data/feature.jpg?ts='+timestamp+'\" alt=\"Feature\" style=\"width: auto; height: auto;max-width: 1400px;max-height: 1800px\">'\n        return msg\n\nfor x in range (5):\n    status(\"Feature-failed (\"+str(3-x)+\"s)\")\n    sleep(1)\n\nos.system(\"sudo rm \"+target)\nstatus(\"--READY--\")\n","outputs":1,"x":570,"y":880,"wires":[["15b9ddd0.2cf282"]]},{"id":"852e46e0.9d80b8","type":"ui_toast","z":"d6a01399.60299","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":580,"y":920,"wires":[[]]},{"id":"2a510dfd.83e072","type":"ui_button","z":"d6a01399.60299","name":"reboot","group":"a3116208.14508","order":21,"width":2,"height":1,"passthru":false,"label":"","tooltip":"reboot the raspberry pi","color":"","bgcolor":"","icon":"fa-repeat","payload":"","payloadType":"date","topic":"","x":70,"y":960,"wires":[["8fbf8c4f.14c49"]]},{"id":"82bc97f4.088048","type":"ui_button","z":"d6a01399.60299","name":"shutdown","group":"a3116208.14508","order":20,"width":2,"height":1,"passthru":false,"label":"","tooltip":"shutdown the raspberry pi","color":"","bgcolor":"","icon":"fa-power-off","payload":"","payloadType":"date","topic":"","x":80,"y":1000,"wires":[["9dd4f722.11ff78"]]},{"id":"8fbf8c4f.14c49","type":"link out","z":"d6a01399.60299","name":"","links":["118a6113.30ceef"],"x":195,"y":960,"wires":[]},{"id":"9dd4f722.11ff78","type":"link out","z":"d6a01399.60299","name":"","links":["b8ef7981.8e81d8"],"x":195,"y":1000,"wires":[]},{"id":"a145cea0.e5a6","type":"python3-function","z":"d6a01399.60299","name":"enable","func":"\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nif load(\"currentstatus_rpi\")==\"no camera found\" or load(\"currentstatus_rpi\")[:5]==\"Featu\":\n    return\nmsg[\"enabled\"]=True\n\nreturn msg","outputs":1,"x":450,"y":720,"wires":[["72dbc485.cfa6cc"]]},{"id":"a238d4b1.ddd428","type":"inject","z":"d6a01399.60299","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":450,"y":680,"wires":[["5ed56421.39b04c"]]},{"id":"5ed56421.39b04c","type":"python3-function","z":"d6a01399.60299","name":"disable","func":"msg[\"enabled\"]=False\nreturn msg","outputs":1,"x":660,"y":680,"wires":[["72dbc485.cfa6cc"]]},{"id":"ee62c618.244b08","type":"ui_template","z":"d6a01399.60299","group":"3d48edae.861ef2","name":"preview_classic","order":1,"width":14,"height":10,"format":"<div align=\"center\" >\n<img ng-src= {{msg.payload}} style=\"width: auto; height: auto;max-width: 660px;max-height: 503px\"</img>\n<a src=\"/data/preview.jpg\" </a>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":780,"y":580,"wires":[[]]},{"id":"2c564562.4b74ca","type":"ui_template","z":"d6a01399.60299","group":"5926c870.c5bfb8","name":"preview_mini","order":1,"width":10,"height":13,"format":"<div align=\"center\">\n<img ng-src= {{msg.payload}} style=\"max-width: 503px;max-height: 655px;width: auto; height: auto\"</img>\n<a src=\"/data/preview.jpg\" </a>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":770,"y":620,"wires":[[]]},{"id":"15b9ddd0.2cf282","type":"ui_toast","z":"d6a01399.60299","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":720,"y":880,"wires":[[]]},{"id":"37ec7bf0.1f0fd4","type":"ui_template","z":"d6a01399.60299","group":"9b4feca5.bc36","name":"","order":1,"width":0,"height":0,"format":"<div>\n    <h3>Welcome :)</h3><br/>\n    Please go to <b>Settings</b> and select your model in the <b>General Tab</b>:<br/>\n    - OpenScan Mini (with Pi Camera)<br/>\n    - OpenScan Classic (with Pi camera)<br/>\n    - OpenScan Classic (Ext): with external camera triggered via the front pins<br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":239,"y":1060,"wires":[[]]},{"id":"b4e55d22c195d2b5","type":"ui_text_input","z":"d6a01399.60299","name":"","label":"","tooltip":"","group":"a3116208.14508","order":13,"width":2,"height":1,"passthru":false,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"topicType":"msg","x":390,"y":240,"wires":[["a126c1638e0ed1bc"]]},{"id":"1c5b8a657c529f07","type":"ui_dropdown","z":"d6a01399.60299","name":"","label":"","tooltip":"","place":"Number of Photos","group":"a3116208.14508","order":14,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"30 Photos","value":30,"type":"num"},{"label":"40 Photos","value":40,"type":"num"},{"label":"50 Photos","value":50,"type":"num"},{"label":"70 Photos","value":70,"type":"num"},{"label":"100 Photos","value":100,"type":"num"},{"label":"150 Photos","value":150,"type":"num"},{"label":"200 Photos","value":200,"type":"num"},{"label":"300 Photos","value":300,"type":"num"}],"payload":"","topic":"","topicType":"str","className":"","x":380,"y":200,"wires":[["b4e55d22c195d2b5","3461576a8d2de884"]]},{"id":"a126c1638e0ed1bc","type":"python3-function","z":"d6a01399.60299","name":"msg","func":"photos = msg['payload']\n\nif photos > 2 and photos <10000:\n    msg['options']=[{str(photos)+ ' Photos':photos},{'30 Photos':30},{'40 Photos':40},{'50 Photos':50},{'70 Photos':70},{'100 Photos':100},{'150 Photos':150},{'200 Photos':200},{'300 Photos':300}]\nelse:\n    msg['options']=[{'30 Photos':30},{'40 Photos':40},{'50 Photos':50},{'70 Photos':70},{'100 Photos':100},{'150 Photos':150},{'200 Photos':200},{'300 Photos':300}]\n    \n\nreturn msg","outputs":1,"x":230,"y":200,"wires":[["1c5b8a657c529f07"]]},{"id":"3461576a8d2de884","type":"change","z":"d6a01399.60299","name":"","rules":[{"t":"set","p":"numberofphotos","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[[]]},{"id":"3d89d73987075b80","type":"python3-function","z":"d6a01399.60299","name":"msg","func":"msg['payload'] = msg['payload'].replace(' ', '_')\nreturn msg","outputs":1,"x":630,"y":420,"wires":[["f529b2aa.df168"]]},{"id":"809c9427e14e2448","type":"link in","z":"d6a01399.60299","name":"start routine","links":["7a93d1e18254685c"],"x":35,"y":780,"wires":[["ec55861d.db0c88","ebdb99aa.b6bc68"]]},{"id":"a5b20b52931c5a8d","type":"change","z":"d6a01399.60299","name":"flag.true","rules":[{"t":"set","p":"flag","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":780,"wires":[["23ae2d06184ac1b8"]]},{"id":"23ae2d06184ac1b8","type":"link out","z":"d6a01399.60299","name":"","mode":"link","links":["b33d604c.5f1a6"],"x":755,"y":780,"wires":[]},{"id":"2bb9319f8a438f1b","type":"change","z":"d6a01399.60299","name":"flag.false","rules":[{"t":"set","p":"flag","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":820,"wires":[["0e8ce0ac4d63a105"]]},{"id":"0e8ce0ac4d63a105","type":"link out","z":"d6a01399.60299","name":"","mode":"link","links":["b33d604c.5f1a6"],"x":395,"y":820,"wires":[]},{"id":"9ee0537b0485201d","type":"function","z":"d6a01399.60299","name":"enable","func":"msg.flag = global.get('flag')\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":600,"wires":[["fabd05fd.e60e18"]]},{"id":"ea54fcc2.cfcc2","type":"python3-function","z":"532cea09.a25754","name":"get dirs","func":"from glob import glob\nimport os\nfrom zipfile import ZipFile\n\n\ndef set_stats(stat):\n    try:\n        with open(directory+set[:-4]+\"/\"+stat,\"r\") as file:\n            stat=file.read()\n    except:\n        stat=\"\"\n    return stat\n\ntable=[]\ndirectory=\"/home/pi/shared/ui/data/zip/\"\n\nfor d in glob(directory+\"*.zip\"):\n    set=os.path.basename(d)\n\n    with ZipFile(d, 'r') as f:\n        photos = len(f.namelist())\n\n    size = float(int(float(os.path.getsize(d))/100000))/10\n    size_full= os.path.getsize(d)\n    status=set_stats(\"status\")\n    expiration=set_stats(\"expiration\")\n    download=set_stats(\"download\")\n\n    if len(download)!=0:\n        table.append({\n            \"Set\":set,\n            \"Photos\":photos,\n            \"Size\":str(size)+\"MB\",\n            \"Date\":set[:16],\n            \"Name\":(set[20:-4]),\n            \"Status\":status,\n            \"Download\":\"<a href=\"+download+\">RESULT</a>\",\n            \"Size_full\":size_full,\n            \"Zip\":\"<a href=/ui/data/zip/\"+set+\">ZIP</a>\",\n\n            })\n    else:\n        table.append({\n            \"Set\":set,\n            \"Photos\":photos,\n            \"Size\":str(size)+\"MB\",\n            \"Date\":set[:16],\n            \"Name\":(set[20:-4]),\n            \"Status\":status,\n            \"Size_full\":size_full,\n            \"Zip\":\"<a href=/ui/data/zip/\"+set+\">ZIP</a>\",\n\n            })\n\n\nmsg['payload']=table\nmsg['topic']=\"\"\nreturn msg","outputs":1,"x":480,"y":280,"wires":[["b9a3a0f9.bcbea"]]},{"id":"2f4c0f98.dee2","type":"link in","z":"532cea09.a25754","name":"files","links":["31787cb7.9ba1b4","47063317.6eaffc","84cf9870.619df8","8c0865c6.c219b8","8e437831.caf498","ca666433.f92b08","fc09407e.7278","a4f09e25.02569"],"x":355,"y":240,"wires":[["ea54fcc2.cfcc2"]]},{"id":"b9a3a0f9.bcbea","type":"ui_table","z":"532cea09.a25754","group":"b5fdd57b.15eda8","name":"","order":1,"width":15,"height":12,"columns":[{"field":"Date","title":"Date","width":"150","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Name","title":"Name","width":"210","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Photos","title":"Photos","width":"80","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Size","title":"Size","width":"80","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Zip","title":"Local","width":"80","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"Status","title":"Status","width":"140","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":610,"y":280,"wires":[["50710948.71c308","4082b136.dae18","834046a4.647938"]]},{"id":"952ce286.4ffd4","type":"ui_text","z":"532cea09.a25754","group":"db43d646.2074c8","order":2,"width":6,"height":1,"name":"Status","label":"Status","format":"{{msg.text}}","layout":"row-spread","className":"","x":390,"y":160,"wires":[]},{"id":"d4383424.7807c8","type":"python3-function","z":"532cea09.a25754","name":"prepare","func":"import requests\nimport os\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nif load(\"feedback_terms\")==\"False\":\n    msg['payload']=\"Please read and agree to the Terms of Use (See Settings Menu) before you can use the OpenScanCloud\"\n    msg['topic'] = 'OpenScanCloud - Terms of Use'\n    return None,msg\n\n\nmsg = msg['payload']\n\nbasedir = '/home/pi/shared/ui/data/'\n\nwith open('/home/pi/shared/log/size_to_split.log', 'r') as file:\n    size_to_split = int(file.read())\nuser = 'openscan'\npw = 'free'\nserver = 'http://openscanfeedback.dnsuser.de:1334/'\ntokenpath = '/home/pi/shared/log/token.log'\n\ndef status(msg):\n    with open('/home/pi/shared/log/cloudstatus.log', 'w+') as file:\n        file.write(msg)\n\ndef OpenScanCloud(cmd, msg):\n    try:\n        r = requests.get(server + cmd, auth=(user, pw), params=msg)\n    except:\n        return {'error':True}\n    if r.status_code == 200:\n        return r.json()\n    else:\n        return {}\n\ndef upload(filelist, ulinks):\n    i = 0\n    for file in filelist:\n        link = ulinks[i]\n        status('uploading ' + str(i+1) + '/' + str(len(filelist)))\n        cmd = 'curl -# -X POST ' + link + ' --header Content-Type:application/octet-stream --data-binary @\"' + file + '\" 2>&1 | tee /home/pi/shared/ui/data/uploadprogress'\n        #if os.system(cmd)!=0:'\n        i = i+1\n        os.system(cmd)\n\n########\nif not os.path.isfile(tokenpath):\n    msg['flag'] = True\n    status('please enter token first')\n    return msg\nwith open(tokenpath, 'r') as file:\n    token = file.read().strip('\\n')\n\n########\nmsg1 = OpenScanCloud('getTokenInfo', {'token':token})\n\nif 'error' in msg1:\n    msg['topic'] = 'Connection to OpenScanCloud failed'\n    msg['payload'] = 'Please check your internet connection'\n    return None,msg\n\nif len(msg1) <= 1:\n    msg['flag'] = True\n    status('invalid token')\n    return msg1\n    \n########\nif msg['Photos'] > msg1['limit_photos'] or msg['Size_full'] > msg1['limit_filesize']:\n    msg['flag'] = True\n    status('limit(s) exceeded')\n    return msg\n\n########\ntemp =  OpenScanCloud('getProjectInfo', {'token':token, 'project':msg['Set']})\nif temp != {}:\n    if temp['status'] != 'created':\n        status('already exists')\n        with open(basedir + 'zip/' + msg['Set'][:-4] + '/status', 'w') as file:\n            file.write(temp['status'])\n        return msg\n\nmsg2={}\nmsg2['token'] = token\nmsg2['parts'] = 1\nmsg['partslist']=[]\n\n#######\nif msg['Size_full'] > size_to_split:\n    for file in os.listdir(basedir + 'temp/'):\n        os.remove(basedir + 'temp/' + file)\n    status('zipping files, please wait ...')\n    #cmd = 'zip ' + basedir + 'zip/' + msg['Set'] + ' --out '+basedir+'temp/'+msg['Set']+ ' -s ' + str(size_to_split/1000000)+'m'\n    cmd = 'split -b ' + str(size_to_split) + ' ' + basedir + 'zip/' + msg['Set'] + ' ' +basedir+'temp/'+msg['Set']\n    os.system(cmd)\n    status('zip done')\n    list = os.listdir(basedir + 'temp/')\n    for l in list:\n        msg['partslist'].append(basedir + 'temp/' + l)\n        msg['partslist'].sort()\n    msg2['parts']=len(msg['partslist'])\nelse:\n    msg['partslist'] = [basedir + 'zip/' +msg['Set']]\n\n#######\nmsg2['photos'] = msg['Photos']\nmsg2['filesize'] = msg['Size_full']\nmsg2['project'] = msg['Set']\n\nmsg1 = OpenScanCloud('createProject', msg2)\n\nif not os.path.isdir(basedir+ 'zip/' + msg['Set'][:-4]):\n    os.mkdir(basedir+ 'zip/' + msg['Set'][:-4])\nwith open(basedir+ 'zip/' + msg['Set'][:-4]+'/status', 'w+') as file:\n    file.write('prepared')\n\nstatus('uploading')\nupload(msg['partslist'], msg1['ulink'])\nstatus('uploaded')\n\nmsg3 = OpenScanCloud('startProject', msg2)\nstatus('project started')\n\nreturn msg","outputs":2,"x":600,"y":500,"wires":[["9a132ab1.b21658","148b49feaa9b9e7b"],["3d16b3789632784d","9a132ab1.b21658","fe4be82b678b656e"]]},{"id":"86e2a44b.335988","type":"inject","z":"532cea09.a25754","name":"Started","props":[{"p":"payload","v":"","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":"1","topic":"","x":100,"y":160,"wires":[["8e6e7577.f92658"]]},{"id":"8e6e7577.f92658","type":"python3-function","z":"532cea09.a25754","name":"msg","func":"from time import sleep\n\nwith open('/home/pi/shared/log/cloudstatus.log', 'r') as file:\n    text = file.read()\n    \ntry: \n    if text[0:9] == 'uploading':\n        with open(\"/home/pi/shared/ui/data/uploadprogress\",'r') as file:\n            progress=file.read()[-6:]\n            if progress[-1] == '%':\n                text = text + ' (' + progress + ')'\n    msg['text'] = text\n    return msg\nexcept:\n    pass","outputs":1,"x":250,"y":160,"wires":[["952ce286.4ffd4"]]},{"id":"c0b148bb.b0ce88","type":"ui_button","z":"532cea09.a25754","name":"Upload","group":"db43d646.2074c8","order":4,"width":3,"height":1,"passthru":false,"label":"Upload","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":500,"wires":[["bfc01f26.c32cf","f6bd1a04.470838"]]},{"id":"50710948.71c308","type":"change","z":"532cea09.a25754","name":"set","rules":[{"t":"set","p":"set","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":280,"wires":[[]]},{"id":"834046a4.647938","type":"ui_text","z":"532cea09.a25754","group":"db43d646.2074c8","order":3,"width":6,"height":1,"name":"Set","label":"Set","format":"{{msg.payload.Set}}","layout":"row-spread","x":750,"y":320,"wires":[]},{"id":"9a132ab1.b21658","type":"change","z":"532cea09.a25754","name":"flag.true","rules":[{"t":"set","p":"flag","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":500,"wires":[["8689e938.dd9e38"]]},{"id":"3c67e97b.9d19a6","type":"function","z":"532cea09.a25754","name":"enable","func":"if (global.get('flag') === false){\n    msg.enabled = false\n    msg.color=\"white\"\n}\nelse{\n    msg.enabled = true\n    msg.color=\"red\"\n    \n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":420,"wires":[["c0b148bb.b0ce88","b9285703.ffc048","5088a24a412a6a3e","7a93d1e18254685c"]]},{"id":"bfc01f26.c32cf","type":"change","z":"532cea09.a25754","name":"flag.false","rules":[{"t":"set","p":"flag","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":540,"wires":[["f20f2dbc.0f123"]]},{"id":"b33d604c.5f1a6","type":"link in","z":"532cea09.a25754","name":"","links":["4082b136.dae18","f20f2dbc.0f123","8689e938.dd9e38","d2f21710.8fbd08","23ae2d06184ac1b8","0e8ce0ac4d63a105"],"x":35,"y":420,"wires":[["3c67e97b.9d19a6"]]},{"id":"f6bd1a04.470838","type":"change","z":"532cea09.a25754","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"set","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":500,"wires":[["d4383424.7807c8"]]},{"id":"4082b136.dae18","type":"link out","z":"532cea09.a25754","name":"","links":["b33d604c.5f1a6","87574a42938afec4"],"x":715,"y":240,"wires":[]},{"id":"f20f2dbc.0f123","type":"link out","z":"532cea09.a25754","name":"","links":["b33d604c.5f1a6","87574a42938afec4"],"x":515,"y":540,"wires":[]},{"id":"8689e938.dd9e38","type":"link out","z":"532cea09.a25754","name":"","links":["b33d604c.5f1a6","87574a42938afec4"],"x":875,"y":500,"wires":[]},{"id":"d2f21710.8fbd08","type":"link out","z":"532cea09.a25754","name":"","links":["b33d604c.5f1a6","1f94d0f5.7da73f","87574a42938afec4","5d267acc10020091","c10bcc6991451359","788fabff98c7973c"],"x":335,"y":40,"wires":[]},{"id":"b9285703.ffc048","type":"ui_button","z":"532cea09.a25754","name":"Delete set","group":"db43d646.2074c8","order":6,"width":3,"height":1,"passthru":false,"label":"Delete set","tooltip":"","color":"{{color}}","bgcolor":"{{background}}","className":"","icon":"","payload":"set.Set","payloadType":"global","topic":"","topicType":"str","x":280,"y":460,"wires":[["f1cdd84e.d78648"]]},{"id":"f1cdd84e.d78648","type":"python3-function","z":"532cea09.a25754","name":"del","func":"msg['Set']=msg['payload']\nmsg['payload']=\"Are you sure to delete and ALL associated files: \"+msg['payload']+\"?\"\nreturn msg","outputs":1,"x":410,"y":460,"wires":[["15de0ebb.616d61"]]},{"id":"15de0ebb.616d61","type":"ui_toast","z":"532cea09.a25754","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"No","cancel":"Yes","topic":"","name":"","x":550,"y":460,"wires":[["a7d89487.ee8858"]]},{"id":"a7d89487.ee8858","type":"python3-function","z":"532cea09.a25754","name":"del","func":"import os\nimport shutil\n\ndirectory=\"/home/pi/shared/ui/data/zip/\"\n\nif msg['payload']==\"No\":\n    return\n\ntry:\n    os.remove(directory+msg['Set'])\n    shutil.rmtree(directory+msg['Set'][:-4])\nexcept:\n    pass\nreturn msg","outputs":1,"x":690,"y":460,"wires":[["a4f09e25.02569"]]},{"id":"a4f09e25.02569","type":"link out","z":"532cea09.a25754","name":"","links":["2f4c0f98.dee2","c20357dd.374108","e9aab326.a6896","edd22cc7.befe1","19b81967.49db87","8ee1b3bb.7b0b3","d5246b3cc796afc6"],"x":795,"y":440,"wires":[]},{"id":"8e437831.caf498","type":"link out","z":"532cea09.a25754","name":"","links":["2f4c0f98.dee2","c20357dd.374108","e9aab326.a6896","edd22cc7.befe1","19b81967.49db87","8ee1b3bb.7b0b3","d5246b3cc796afc6"],"x":195,"y":120,"wires":[]},{"id":"fb3e8df1.449ae","type":"change","z":"532cea09.a25754","name":"flag.true","rules":[{"t":"set","p":"flag","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":40,"wires":[["d2f21710.8fbd08"]]},{"id":"d42a47c7.c0df68","type":"inject","z":"532cea09.a25754","name":"Started","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"str","x":100,"y":40,"wires":[["8e437831.caf498","fb3e8df1.449ae","ffe78092.30b5"]]},{"id":"ffe78092.30b5","type":"python3-function","z":"532cea09.a25754","name":"msg","func":"with open('/home/pi/shared/log/cloudstatus.log', 'w+') as file:\n    file.write('ready')\n    \n","outputs":1,"x":230,"y":80,"wires":[[]]},{"id":"7a93d1e18254685c","type":"link out","z":"532cea09.a25754","name":"","mode":"link","links":["809c9427e14e2448","92c98e6ce7cd25f9"],"x":235,"y":540,"wires":[]},{"id":"e85cf13cf76903cc","type":"ui_button","z":"532cea09.a25754","name":"Refresh","group":"db43d646.2074c8","order":5,"width":3,"height":1,"passthru":false,"label":"Refresh{{text}}","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"updating status","topicType":"str","x":160,"y":280,"wires":[["372e95797a3f2f3b","4d99c601c9881680"]]},{"id":"4d99c601c9881680","type":"python3-function","z":"532cea09.a25754","name":"refresh","func":"from time import sleep\nimport requests\nimport os\n\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nif load(\"feedback_terms\")==\"False\":\n    msg['payload']=\"Please read and agree to the Terms of Use (See Settings Menu) before you can use the OpenScanCloud\"\n    msg['topic']='OpenScanCloud - Terms of Use'\n    return None,msg\n\n\nwith open('/home/pi/shared/log/cloudstatus.log', 'w') as file:\n    file.write('refreshing...')\n\n\nuser = 'openscan'\npw = 'free'\n\nserver = 'http://openscanfeedback.dnsuser.de:1334/'\nbasepath=\"/home/pi/shared/ui/data/zip/\"\n\nwith open('/home/pi/shared/log/token.log', 'r') as file:\n    token = file.read().strip('\\n')\n\n\ndef OpenScanCloud(cmd, msg):\n    try:\n        r = requests.get(server + cmd, auth=(user, pw), params=msg)\n    except:\n        return {'error':True}\n    if r.status_code == 200:\n        return r.json()\n    else:\n        return {}\n\ntest = OpenScanCloud('getTokenInfo',{'token':token})\nif 'error' in test:\n    msg['topic'] = 'Connection to OpenScanCloud failed'\n    msg['payload'] = 'Please check your internet connection'\n    return None,msg\n\n\nmsg={}\nprojects = []\nfor i in os.listdir(basepath):\n    if os.path.isdir(basepath+ '/'+i):\n        if os.path.isfile(basepath+'/'+i+'/status'):\n            with open(basepath+'/'+i+'/status', 'r') as file:\n                status = file.read().strip('\\n')\n                if status in ['expired', 'processing done', 'processing failed']:\n                    continue\n        projects.append(i)\n\nfor p in projects:\n    answer = OpenScanCloud('getProjectInfo',{'token':token, 'project':p+'.zip'})\n    if answer == {}:\n        os.system('sudo rm -r ' + basepath + '/' + p)\n    else:\n        with open(basepath + '/' + p + '/status', 'w+') as file:\n            file.write(answer['status'])\n        with open(basepath + '/' + p + '/download', 'w+') as file:\n            file.write(answer['dlink'])\n\nmsg['list'] = projects\n\nsleep(1)\nwith open('/home/pi/shared/log/cloudstatus.log', 'w') as file:\n    file.write('ready')\n\nreturn msg\n","outputs":2,"x":320,"y":280,"wires":[["ea54fcc2.cfcc2"],["6434e713f088012b"]]},{"id":"372e95797a3f2f3b","type":"python3-function","z":"532cea09.a25754","name":"limit :)","func":"from time import sleep\n\nmsg2={}\nmsg2['enabled'] = True\n\nmsg['enabled'] = False\nnode.send(msg)\n\nwait = 15\n\nfor i in range (wait):\n    msg['text'] = ' ('+ str(wait - i)+')'\n    node.send(msg)\n\nmsg['enabled'] = True\nmsg['text']=\"\"\n\n\nreturn msg","outputs":1,"x":150,"y":320,"wires":[["573edbfdb7500ddc"]]},{"id":"573edbfdb7500ddc","type":"delay","z":"532cea09.a25754","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":290,"y":320,"wires":[["e85cf13cf76903cc"]]},{"id":"5088a24a412a6a3e","type":"ui_button","z":"532cea09.a25754","name":"Delete all","group":"db43d646.2074c8","order":7,"width":3,"height":1,"passthru":false,"label":"Delete All","tooltip":"","color":"{{color}}","bgcolor":"{{background}}","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":280,"y":420,"wires":[["6a63b9ab551169e2"]]},{"id":"6a63b9ab551169e2","type":"python3-function","z":"532cea09.a25754","name":"del","func":"msg['Set']=msg['payload']\nmsg['payload']=\"Are you sure to delete ALL saved image sets? This can not be undone!\"\nreturn msg","outputs":1,"x":410,"y":420,"wires":[["dacb1f078b624e10"]]},{"id":"dacb1f078b624e10","type":"ui_toast","z":"532cea09.a25754","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"No","cancel":"Yes","raw":false,"className":"","topic":"","name":"","x":550,"y":420,"wires":[["c8d65cc7c2ff7c36"]]},{"id":"0b2c674033f49c59","type":"ui_button","z":"532cea09.a25754","name":"Refresh","group":"bf7dc348b034d911","order":6,"width":3,"height":1,"passthru":true,"label":"Refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"updating status ...","topicType":"str","x":180,"y":880,"wires":[["36a6a2821317ab41"]]},{"id":"36a6a2821317ab41","type":"python3-function","z":"532cea09.a25754","name":"refresh","func":"import requests\nimport os\n\nuser = 'openscan'\npw = 'free'\nserver = 'http://openscanfeedback.dnsuser.de:1334/'\n\nwith open('/home/pi/shared/log/token.log', 'r') as file:\n    token = file.read().strip('\\n')\n\ndef OpenScanCloud(cmd, msg):\n    try:\n        r = requests.get(server + cmd, auth=(user, pw), params=msg)\n    except:\n        return {}\n    if r.status_code == 200:\n        return r.json()\n    else:\n        return {}\n\nmsg={}\n\nmsg = OpenScanCloud('getTokenInfo', {'token':token})\n\nmsg['enabled'] = True\ntry:\n    msg['limit_filesize']=float(msg['limit_filesize'])/1000000000\n    msg['credit']=float((msg['credit'])/1000000)/1000\n    return msg\nexcept:\n    return\n","outputs":1,"x":320,"y":880,"wires":[["2c1e03dd332cdd72"]]},{"id":"f7bf47e3eec6d736","type":"ui_text","z":"532cea09.a25754","group":"bf7dc348b034d911","order":4,"width":0,"height":0,"name":"","label":"Max. Number of Photos:","format":"{{msg.limit_photos}}","layout":"row-spread","className":"","x":350,"y":940,"wires":[]},{"id":"b52d91c628b151a4","type":"ui_text","z":"532cea09.a25754","group":"bf7dc348b034d911","order":5,"width":0,"height":0,"name":"","label":"Max. Filesize (GB):","format":"{{msg.limit_filesize}}","layout":"row-spread","className":"","x":330,"y":980,"wires":[]},{"id":"1969c709ef2fd1d5","type":"ui_text","z":"532cea09.a25754","group":"bf7dc348b034d911","order":3,"width":0,"height":0,"name":"","label":"Credit (GB):","format":"{{msg.credit}}","layout":"row-spread","className":"","x":310,"y":1020,"wires":[]},{"id":"88e92b621d2a3394","type":"python3-function","z":"532cea09.a25754","name":"save","func":"import requests\nimport os\n\nif msg['payload']!=\"Yes\":\n    return None,msg\n\nuser = 'openscan'\npw = 'free'\n\nserver = 'http://openscanfeedback.dnsuser.de:1334/'\nbasepath=\"/home/pi/shared/ui/data/zip/\"\n\ndef OpenScanCloud(cmd, msg):\n    r = requests.get(server + cmd, auth=(user, pw), params=msg)\n    if r.status_code == 200:\n        return r.json()\n    else:\n        return {}\n\ntry:\n    msg1 = OpenScanCloud('getTokenInfo', {'token':msg['token']})\n    if len(msg1) <= 1:\n        msg['payload'] = 'Could not verify token'\n        return msg \n    msg1['limit_filesize']=float(msg1['limit_filesize'])/1000000000\n    msg1['credit']=float((msg1['credit'])/1000000)/1000\n    msg1['enabled'] = True\nexcept:\n    pass\n\nwith open(\"/home/pi/shared/log/token.log\",\"w+\") as file:\n    file.write(str(msg['token']))\n    \nmsg['payload'] = 'Token verified and saved'\nreturn msg, msg1","outputs":2,"x":710,"y":740,"wires":[["76acd48a511a5e3e","b01581296b94dfcd"],["9c51aa678f16980f"]]},{"id":"76acd48a511a5e3e","type":"ui_toast","z":"532cea09.a25754","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":870,"y":700,"wires":[[]]},{"id":"5f50ed3f6ba37cef","type":"ui_text_input","z":"532cea09.a25754","name":"","label":"Token","tooltip":"","group":"bf7dc348b034d911","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","sendOnBlur":true,"topicType":"str","x":310,"y":760,"wires":[["cb62d30728af2968"]]},{"id":"cb62d30728af2968","type":"python3-function","z":"532cea09.a25754","name":"Save?","func":"msg['token'] = msg['payload']\n\nif len(msg['payload'])>=14:\n    \n    msg[\"payload\"]='Save and verify token: ' + msg['payload']\n    return msg\nelse:\n    return None,msg","outputs":2,"x":430,"y":760,"wires":[["94e503dd2e64d903"],["d859bb39914d4999"]]},{"id":"0dd01eef6e70059e","type":"python3-function","z":"532cea09.a25754","name":"text","func":"with open('/home/pi/shared/log/token.log','r') as file:\n    id=file.read()[0:8]\nmsg['payload']=id+\"...\"\nif len(id)==0:\n    msg['payload']=\"enter token\"\nreturn msg","outputs":1,"x":190,"y":760,"wires":[["5f50ed3f6ba37cef"]]},{"id":"788fabff98c7973c","type":"link in","z":"532cea09.a25754","name":"","links":["05762fd6277a4e0a","b01581296b94dfcd","d2f21710.8fbd08","d859bb39914d4999","0295b7fad0351b47"],"x":60,"y":760,"wires":[["0dd01eef6e70059e"]]},{"id":"94e503dd2e64d903","type":"ui_toast","z":"532cea09.a25754","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"No","cancel":"Yes","raw":false,"topic":"","name":"","x":570,"y":740,"wires":[["88e92b621d2a3394"]]},{"id":"d859bb39914d4999","type":"link out","z":"532cea09.a25754","name":"","links":["788fabff98c7973c","5d267acc10020091"],"x":515,"y":780,"wires":[]},{"id":"9c51aa678f16980f","type":"link out","z":"532cea09.a25754","name":"","links":["5d267acc10020091","397ab7f44b893c89"],"x":815,"y":780,"wires":[]},{"id":"397ab7f44b893c89","type":"link in","z":"532cea09.a25754","name":"","links":["9c51aa678f16980f","2c1e03dd332cdd72"],"x":195,"y":940,"wires":[["f7bf47e3eec6d736","b52d91c628b151a4","1969c709ef2fd1d5"]]},{"id":"63d23fbda26e51d4","type":"inject","z":"532cea09.a25754","name":"Started","props":[{"p":"payload"},{"p":"enabled","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payloadType":"str","x":200,"y":840,"wires":[["2c1e03dd332cdd72"]]},{"id":"7a7f2ccc9f68faf1","type":"comment","z":"532cea09.a25754","name":"Settings","info":"","x":80,"y":660,"wires":[]},{"id":"2c1e03dd332cdd72","type":"link out","z":"532cea09.a25754","name":"","mode":"link","links":["397ab7f44b893c89"],"x":415,"y":880,"wires":[]},{"id":"92c98e6ce7cd25f9","type":"link in","z":"532cea09.a25754","name":"","links":["7a93d1e18254685c"],"x":35,"y":280,"wires":[["e85cf13cf76903cc"]]},{"id":"b01581296b94dfcd","type":"link out","z":"532cea09.a25754","name":"","links":["788fabff98c7973c","5d267acc10020091"],"x":815,"y":740,"wires":[]},{"id":"3d16b3789632784d","type":"ui_toast","z":"532cea09.a25754","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Terms","x":770,"y":540,"wires":[[]]},{"id":"148b49feaa9b9e7b","type":"debug","z":"532cea09.a25754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":580,"wires":[]},{"id":"6434e713f088012b","type":"ui_toast","z":"532cea09.a25754","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Terms","x":470,"y":320,"wires":[[]]},{"id":"fe4be82b678b656e","type":"debug","z":"532cea09.a25754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":620,"wires":[]},{"id":"c8d65cc7c2ff7c36","type":"python3-function","z":"532cea09.a25754","name":"del","func":"import os\nimport shutil\n\ndir=\"/home/pi/shared/ui/data/zip/\"\n\nif msg['payload']==\"No\":\n    return\n\nfor i in os.listdir(dir):\n    if os.path.isdir(dir + i):\n        shutil.rmtree(dir + i)\n    else:\n        os.remove(dir + i)\n\nreturn msg","outputs":1,"x":690,"y":420,"wires":[["a4f09e25.02569"]]},{"id":"bf6d941ad307ce22","type":"ui_toast","z":"532cea09.a25754","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":330,"y":1080,"wires":[["f22dfef37d5de773"]]},{"id":"f22dfef37d5de773","type":"python3-function","z":"532cea09.a25754","name":"msg","func":"import re\n\nif msg['payload'] == 'Cancel':\n    return\n\nmail = msg['payload']\nemail_regex = re.compile(r\"[^@]+@[^@]+\\.[^@]+\")\n\nif email_regex.match(mail) != None:\n    msg['mail'] = mail\n    msg['topic'] = 'OpenScanCloud Registration (2/3)'\n    msg['payload'] = 'Enter your first name'\n    return msg\nmsg['payload'] = 'invalid input'\nreturn None,msg\n","outputs":2,"x":470,"y":1080,"wires":[["54602ee49ca022e7"],["1505f3e72f971081"]]},{"id":"1505f3e72f971081","type":"ui_toast","z":"532cea09.a25754","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":610,"y":1120,"wires":[[]]},{"id":"54602ee49ca022e7","type":"ui_toast","z":"532cea09.a25754","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":610,"y":1080,"wires":[["148ec25cc34cafc2"]]},{"id":"148ec25cc34cafc2","type":"python3-function","z":"532cea09.a25754","name":"msg","func":"import re\n\nif msg['payload'] == 'Cancel':\n    return\n\nmsg['forename'] = msg['payload']\nmsg['topic'] = 'OpenScanCloud Registration (3/3)'\nmsg['payload'] = 'Enter your last name'\nreturn msg","outputs":1,"x":750,"y":1080,"wires":[["510dbe4d76253bd6"]]},{"id":"510dbe4d76253bd6","type":"ui_toast","z":"532cea09.a25754","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"SUBMIT","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":890,"y":1080,"wires":[["600b2306caed1640"]]},{"id":"600b2306caed1640","type":"python3-function","z":"532cea09.a25754","name":"msg","func":"import requests\nimport os\n\nif msg['payload'] == 'Cancel':\n    return\n\nuser = 'openscan'\npw = 'free'\nserver = 'http://openscanfeedback.dnsuser.de:1334/'\n\ndef OpenScanCloud(cmd, msg):\n    try:\n        r = requests.get(server + cmd, auth=(user, pw), params=msg)\n        return r.status_code\n    except:\n        return 400\nmsg['lastname'] = msg['payload']\n\nmsg2 = {}\n\nfor i in ['forename','lastname','mail']:\n    msg2[i] = msg[i]\n\nstatus = OpenScanCloud('requestToken',msg2)\n\nmsg['topic'] = 'OpenScanCloud Registration - Success'\nmsg['payload'] = 'registration done, you will get an email with your token within the next one or two days :)'\nif status != 200:\n    msg['topic'] = 'OpenScanCloud Registration - Failed'\n\n    msg['payload'] = 'Registration failed, please try again.'\n\nreturn msg","outputs":1,"x":1030,"y":1080,"wires":[["bbad1ab5f8f63fb7"]]},{"id":"d34cd203725bac15","type":"ui_button","z":"532cea09.a25754","name":"Register","group":"bf7dc348b034d911","order":7,"width":3,"height":1,"passthru":false,"label":"Register","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Please enter your email address:","payloadType":"str","topic":"Requesting an OpenScanCloud Token","topicType":"str","x":180,"y":1080,"wires":[["bf6d941ad307ce22"]]},{"id":"bbad1ab5f8f63fb7","type":"ui_toast","z":"532cea09.a25754","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1170,"y":1080,"wires":[[]]},{"id":"2b4b3373ec9e1e73","type":"inject","z":"532cea09.a25754","name":"Started","props":[{"p":"payload"},{"p":"enabled","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payloadType":"str","x":120,"y":1300,"wires":[["81c3f37799aea632"]]},{"id":"81c3f37799aea632","type":"python3-function","z":"532cea09.a25754","name":"test wpa_supplicant status","func":"import os\n\nstatus = os.system('systemctl is-active --quiet wpa_supplicant@wlan0.service')\nmsg['payload'] = status\nreturn msg\n\nif status == 768:\n    os.system('sudo systemctl stop dhcpcd')\n    os.system('sudo systemctl daemon-reload')\n    os.system('sudo systemctl start wpa_supplicant@wlan0.service')\n    os.system('sudo systemctl restart dhcpcd')\n    os.system('sudo systemctl restart nodered')\n\nreturn msg","outputs":1,"x":340,"y":1300,"wires":[["5486739842de5804","8b068eb4cbea2d5e"]]},{"id":"de8b6f1bc5ca9836","type":"debug","z":"532cea09.a25754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":180,"wires":[]},{"id":"5486739842de5804","type":"debug","z":"532cea09.a25754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":1240,"wires":[]},{"id":"8b068eb4cbea2d5e","type":"python3-function","z":"532cea09.a25754","name":"test wpa_supplicant status","func":"import os\nstatus = msg['payload'] \n\nif status == 768:\n    os.system('sudo systemctl stop dhcpcd')\n    os.system('sudo systemctl daemon-reload')\n    os.system('sudo systemctl start wpa_supplicant@wlan0.service')\n    os.system('sudo systemctl restart dhcpcd')\n    os.system('sudo systemctl restart nodered')\n\nreturn msg","outputs":1,"x":620,"y":1300,"wires":[[]]},{"id":"879ec539c5d1ad32","type":"link in","z":"532cea09.a25754","name":"disable","links":["05762fd6277a4e0a","0295b7fad0351b47"],"x":75,"y":880,"wires":[["0b2c674033f49c59"]]},{"id":"27cbeb6d9a1cb59e","type":"link in","z":"532cea09.a25754","name":"disable","links":["05762fd6277a4e0a","0295b7fad0351b47"],"x":75,"y":1080,"wires":[["d34cd203725bac15"]]},{"id":"b7d19a5.4553c68","type":"ui_button","z":"3ec97011.20579","name":"","group":"316e6e17.634362","order":6,"width":2,"height":1,"passthru":false,"label":"⇐","tooltip":"Move turntable right","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":590,"y":100,"wires":[["732b042b.9f015c"]]},{"id":"531d54f0.f2e2bc","type":"ui_button","z":"3ec97011.20579","name":"","group":"316e6e17.634362","order":7,"width":2,"height":1,"passthru":false,"label":"⇒","tooltip":"Move turntable left","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":590,"y":140,"wires":[["70dfc692.c46ce8"]]},{"id":"8dadbfac.0e0ff","type":"ui_button","z":"3ec97011.20579","name":"","group":"316e6e17.634362","order":3,"width":2,"height":1,"passthru":false,"label":"⇑","tooltip":"Move rotor up","color":"","bgcolor":"","icon":"","payload":"500","payloadType":"num","topic":"","x":90,"y":100,"wires":[["2c4c5943.a72d56"]]},{"id":"43bba53a.d2868c","type":"ui_button","z":"3ec97011.20579","name":"","group":"316e6e17.634362","order":4,"width":2,"height":1,"passthru":false,"label":"⇓","tooltip":"Move rotor down","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":90,"y":140,"wires":[["4aee7820.415628"]]},{"id":"f3ef947b.ffe448","type":"ui_text","z":"3ec97011.20579","group":"316e6e17.634362","order":5,"width":2,"height":1,"name":"","label":"Turntable","format":"{{\"\"}}","layout":"row-center","x":600,"y":60,"wires":[]},{"id":"cc8386f9.e35bc8","type":"ui_text","z":"3ec97011.20579","group":"316e6e17.634362","order":2,"width":2,"height":1,"name":"","label":"Rotor","format":"{{\"\"}}","layout":"row-center","x":90,"y":60,"wires":[]},{"id":"1393ba5a.ebdaf6","type":"python3-function","z":"3ec97011.20579","name":"TT left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nif load(\"currentstatus_rpi\")[:5]==\"Routi\":\n    return\n\nSTEP=int(load(\"pin_turntable_step\"))\nDIR=int(load(\"pin_turntable_dir\"))\nstep_count=int(load(\"turntable_stepsperrotation\"))\ndelaytt=float(load(\"turntable_delay\"))\nangle=float(load(\"turntable_angle\"))\nramp=int(load(\"turntable_accramp\"))\nacc=ramp*float(load(\"turntable_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\ndelay=delaytt\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":851,"y":100,"wires":[["e4418285.9871"]]},{"id":"77877b1.c8d0b84","type":"python3-function","z":"3ec97011.20579","name":"TT right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_turntable_step\"))\nDIR=int(load(\"pin_turntable_dir\"))\nstep_count=int(load(\"turntable_stepsperrotation\"))\ndelaytt=float(load(\"turntable_delay\"))\nangle=float(load(\"turntable_angle\"))\nramp=int(load(\"turntable_accramp\"))\nacc=ramp*float(load(\"turntable_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\ndelay=delaytt\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":860,"y":140,"wires":[["e4418285.9871"]]},{"id":"e2557ded.9b1f6","type":"python3-function","z":"3ec97011.20579","name":"Rotor left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_rotor_step\"))\nDIR=int(load(\"pin_rotor_dir\"))\nstep_count=int(load(\"rotor_stepsperrotation\"))\ndelaytt=float(load(\"rotor_delay\"))\nangle=float(load(\"rotor_angle\"))\nramp=int(load(\"rotor_accramp\"))\nacc=ramp*float(load(\"rotor_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":360,"y":100,"wires":[["69642193.b4a81"]]},{"id":"44aaf543.ca706c","type":"python3-function","z":"3ec97011.20579","name":"Rotor right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_rotor_step\"))\nDIR=int(load(\"pin_rotor_dir\"))\nstep_count=int(load(\"rotor_stepsperrotation\"))\ndelaytt=float(load(\"rotor_delay\"))\nangle=float(load(\"rotor_angle\"))\nramp=int(load(\"rotor_accramp\"))\nacc=ramp*float(load(\"rotor_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":370,"y":140,"wires":[["69642193.b4a81"]]},{"id":"e4418285.9871","type":"link out","z":"3ec97011.20579","name":"","links":["2ec25eee.175402","35a36b3b.902074","9eafa9a.929b058","8265a779.7254d8"],"x":955,"y":120,"wires":[]},{"id":"69642193.b4a81","type":"link out","z":"3ec97011.20579","name":"","links":["2ec25eee.175402","35a36b3b.902074","9eafa9a.929b058","8265a779.7254d8"],"x":475,"y":120,"wires":[]},{"id":"2c4c5943.a72d56","type":"delay","z":"3ec97011.20579","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":220,"y":100,"wires":[["e2557ded.9b1f6"]]},{"id":"4aee7820.415628","type":"delay","z":"3ec97011.20579","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":220,"y":140,"wires":[["44aaf543.ca706c"]]},{"id":"732b042b.9f015c","type":"delay","z":"3ec97011.20579","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":720,"y":100,"wires":[["1393ba5a.ebdaf6"]]},{"id":"70dfc692.c46ce8","type":"delay","z":"3ec97011.20579","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":720,"y":140,"wires":[["77877b1.c8d0b84"]]},{"id":"907663ae.c7894","type":"python3-function","z":"3ec97011.20579","name":"Run Routine","func":"import time\nfrom time import sleep\nimport math\nimport RPi.GPIO as GPIO\nimport os\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\n\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\ndef ttrun(angle):\n    step_count=int(angle*ttspr/360)\n    GPIO.setup(dirpintt, GPIO.OUT)\n    GPIO.setup(steppintt, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpintt, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpintt, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppintt, GPIO.HIGH)\n        if x<=ttramp and x<=step_count/2:\n            delay=delaytt+(ttramp-x)*delaytt/ttacc\n        elif step_count-x<=ttramp and x>step_count/2:\n            delay=delaytt+(ttramp-step_count+x)*delaytt/ttacc\n        sleep(delay)\n        GPIO.output(steppintt, GPIO.LOW)\n        sleep(delay)\n\ndef rotorrun(angle):\n    \n    step_count=int(angle*rotorspr/360)\n    GPIO.setup(dirpinrotor, GPIO.OUT)\n    GPIO.setup(steppinrotor, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpinrotor, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpinrotor, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppinrotor, GPIO.HIGH)\n        if x<=rotorramp and x<=step_count/2:\n            delay=delayrotor+(rotorramp-x)*delayrotor/rotoracc\n        elif step_count-x<=rotorramp and x>step_count/2:\n            delay=delayrotor+(rotorramp-step_count+x)*delayrotor/rotoracc\n        sleep(delay)\n        GPIO.output(steppinrotor, GPIO.LOW)\n        sleep(delay)\n\ndef get_points(samples=1):\n    points = []\n    phi = math.pi * (3. - math.sqrt(5.))\n    for i in range(samples):\n        y = 1 - (i / float(samples - 1)) * 2  \n        radius = math.sqrt(1 - y * y)  \n        theta = phi * i  \n        x = math.cos(theta) * radius\n        z = math.sin(theta) * radius\n        r=math.sqrt(x*x+y*y+z*z)\n        theta_neu=math.acos(z/r)*180/math.pi\n        phi_neu=math.atan2(y,x)*180/math.pi\n        points.append((theta_neu-90,phi_neu))\n    points.sort()\n    return points\n\ndef filter_points(angle_min, angle_max,point_count):\n    point_count_final=point_count\n    point_count=point_count*90/(angle_max-angle_min)\n    actual_points=0\n    while actual_points<point_count_final:\n        points=get_points(point_count)\n        filtered=[]\n        for x,y in points:\n            if x>angle_min and x<angle_max and len(filtered)<point_count_final:\n                filtered.append((x,y))\n        actual_points=len(filtered)\n\n        if point_count-actual_points>20:\n            point_count=point_count+3\n        else:\n            point_count=point_count+1\n    return filtered\n\ndef takephoto_ext():\n    GPIO.setup(pin_externalcam, GPIO.OUT)\n    GPIO.output(pin_externalcam, GPIO.HIGH)\n    sleep(0.1)\n    GPIO.output(pin_externalcam, GPIO.LOW)\n    sleep(delay_ext)\n\ndirpinrotor=int(load(\"pin_rotor_dir\"))\nsteppinrotor=int(load(\"pin_rotor_step\"))\ndirpintt=int(load(\"pin_turntable_dir\"))\nsteppintt=int(load(\"pin_turntable_step\"))\nrotorspr=int(load(\"rotor_stepsperrotation\"))\nttspr=int(load(\"turntable_stepsperrotation\"))\ndelayrotor=float(load(\"rotor_delay\"))\ndelaytt=float(load(\"turntable_delay\"))\nttramp=int(load(\"turntable_accramp\"))\nttacc=ttramp*float(load(\"turntable_acc\"))\nrotorramp=int(load(\"rotor_accramp\"))\nrotoracc=rotorramp*float(load(\"rotor_acc\"))\ndelay_ext=float(load(\"delay_ext\"))/1000\npin_externalcam=int(load(\"pin_externalcam\"))\n   \n\nangle_max=int(load(\"angle_max\"))\nangle_min=int(load(\"angle_min\"))\n\nmodel=load(\"openscan_model\")\n\npoint_count=msg['payload']\n\npoints=filter_points(angle_min,angle_max,point_count)\n\nlastpoint=(0,0)\n\ncounter=0\n\nfor p in points:\n    counter=counter+1\n    takephoto_ext()\n    if load(\"currentstatus_ext\")==\"Routine-stopping\":\n        break\n    write(\"currentstatus_ext\",\"Routine-Photo \"+str(counter)+\" of \"+str(point_count))\n    rotorrun(lastpoint[0]-p[0])\n    ttrun(p[1]-lastpoint[1])\n    lastpoint=p\n\nwrite(\"currentstatus_ext\",\"Routine-done\")\nrotorrun(lastpoint[0]-0)\nwrite(\"currentstatus_ext\",\"--READY--\")\nmsg['enable']=False\nreturn msg","outputs":1,"x":470,"y":460,"wires":[["50e1a482.0df14c"]]},{"id":"d347e3b9.f55bb","type":"ui_button","z":"3ec97011.20579","name":"start routine","group":"316e6e17.634362","order":9,"width":3,"height":1,"passthru":false,"label":"","tooltip":"start the routine","color":"","bgcolor":"","icon":"fa-play","payload":"","payloadType":"date","topic":"enabled","x":110,"y":460,"wires":[["3a160993.b4aca6","67089e56.da9dc"]]},{"id":"d939dd34.37bf3","type":"inject","z":"3ec97011.20579","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":360,"wires":[["2a58cc41.2396b4"]]},{"id":"2a58cc41.2396b4","type":"python3-function","z":"3ec97011.20579","name":"disable","func":"msg[\"enabled\"]=False\nreturn msg","outputs":1,"x":480,"y":360,"wires":[["50e1a482.0df14c"]]},{"id":"3a160993.b4aca6","type":"python3-function","z":"3ec97011.20579","name":"enable","func":"msg[\"enabled\"]=True\n\nreturn msg","outputs":1,"x":310,"y":420,"wires":[["50e1a482.0df14c"]]},{"id":"50e1a482.0df14c","type":"ui_button","z":"3ec97011.20579","name":"stop routine","group":"316e6e17.634362","order":10,"width":3,"height":1,"passthru":false,"label":"","tooltip":"stop the routine","color":"","bgcolor":"","icon":"fa-stop","payload":"numberofphotos","payloadType":"global","topic":"","x":490,"y":420,"wires":[["870f3bdc.6a3808","2a58cc41.2396b4"]]},{"id":"870f3bdc.6a3808","type":"python3-function","z":"3ec97011.20579","name":"stop","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\nif load(\"currentstatus_ext\")==\"--READY--\":\n    return\n\nwrite(\"currentstatus_ext\",\"Routine-stopping\")","outputs":1,"x":650,"y":420,"wires":[[]]},{"id":"f2e8d48b.b71fd8","type":"inject","z":"3ec97011.20579","name":"","repeat":"0.2","crontab":"","once":true,"onceDelay":"2.4","topic":"Repeat","payload":"0.2","payloadType":"str","x":110,"y":540,"wires":[["eba8ba07.edb1b8"]]},{"id":"eba8ba07.edb1b8","type":"python3-function","z":"3ec97011.20579","name":"load&color","func":"def load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\ntry:\n    msg['payload']=load(\"currentstatus_ext\")\nexcept:\n    msg['payload']=\"\"\n\nreturn msg","outputs":1,"x":290,"y":540,"wires":[["d5695998.7d0db8"]]},{"id":"d5695998.7d0db8","type":"ui_text","z":"3ec97011.20579","group":"316e6e17.634362","order":1,"width":0,"height":0,"name":"","label":"Current Status:","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":480,"y":540,"wires":[]},{"id":"67089e56.da9dc","type":"change","z":"3ec97011.20579","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"numberofphotos_ext","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":460,"wires":[["907663ae.c7894"]]},{"id":"73b9c3b3.8c582c","type":"inject","z":"3ec97011.20579","name":"50","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"50","payloadType":"num","x":90,"y":600,"wires":[["38399c59.d95e54"]]},{"id":"38399c59.d95e54","type":"ui_dropdown","z":"3ec97011.20579","name":"","label":"","tooltip":"","place":"Number of Photos","group":"316e6e17.634362","order":8,"width":6,"height":1,"passthru":true,"options":[{"label":"30 Photos","value":30,"type":"num"},{"label":"40 Photos","value":"40","type":"str"},{"label":"50 Photos","value":50,"type":"num"},{"label":"70 Photos","value":"70","type":"str"},{"label":"100 Photos","value":100,"type":"num"},{"label":"150 Photos","value":150,"type":"num"},{"label":"200 Photos","value":200,"type":"num"},{"label":"300 Photos","value":300,"type":"num"}],"payload":"","topic":"","x":280,"y":600,"wires":[["9ad143a3.07a1c"]]},{"id":"9ad143a3.07a1c","type":"change","z":"3ec97011.20579","name":"","rules":[{"t":"set","p":"numberofphotos_ext","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":600,"wires":[[]]},{"id":"4bfb5998.ef1028","type":"exec","z":"67f0d11b.66aa4","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":80,"wires":[[],[],[]]},{"id":"b856e02b.b64f3","type":"exec","z":"67f0d11b.66aa4","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":160,"wires":[[],[],[]]},{"id":"bc8e5552.04ba68","type":"delay","z":"67f0d11b.66aa4","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":350,"y":160,"wires":[["b856e02b.b64f3"]]},{"id":"3e9d2ca4.953d44","type":"delay","z":"67f0d11b.66aa4","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":350,"y":80,"wires":[["4bfb5998.ef1028"]]},{"id":"19bc6938.44e717","type":"python3-function","z":"67f0d11b.66aa4","name":"blink","func":"from time import sleep\nimport RPi.GPIO as GPIO\n\nsleeptime = 0.05\n\nwith open(\"/home/pi/shared/log/pin_ringlight1.log\", \"r\") as file:\n    ringlightpin1=int(file.read())\nwith open(\"/home/pi/shared/log/pin_ringlight2.log\", \"r\") as file:\n    ringlightpin2=int(file.read())\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin1, GPIO.OUT)\nGPIO.setup(ringlightpin2, GPIO.OUT)\nGPIO.output(ringlightpin2, GPIO.LOW)\n\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"w\") as file:\n    file.write(\"off\")\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"w\") as file:\n    file.write(\"off\")\n\nfor x in range(10):\n    GPIO.output(ringlightpin1, GPIO.HIGH)\n    sleep(sleeptime)\n    GPIO.output(ringlightpin1, GPIO.LOW)\n    sleep(sleeptime)\nmsg['payload']=\"off\"\nreturn msg","outputs":1,"x":310,"y":120,"wires":[["e2c98417.753298"]]},{"id":"e2c98417.753298","type":"link out","z":"67f0d11b.66aa4","name":"","links":["673d8724.9543c8"],"x":395,"y":120,"wires":[]},{"id":"118a6113.30ceef","type":"link in","z":"67f0d11b.66aa4","name":"reboot","links":["c7dea90b.5b6478","2e855701.980d58","d39ec6b5.59f828","b049eb75.c59518","8fbf8c4f.14c49","5655f832.104fe8","f3b9579c.9b00c8","826197d689eb57ac","2958998a68f5b06c"],"x":215,"y":40,"wires":[["3e9d2ca4.953d44","19bc6938.44e717"]]},{"id":"b8ef7981.8e81d8","type":"link in","z":"67f0d11b.66aa4","name":"shutdown","links":["ed11f34c.e784","9dd4f722.11ff78"],"x":215,"y":200,"wires":[["bc8e5552.04ba68","19bc6938.44e717"]]},{"id":"596b6655.6f8c18","type":"ui_switch","z":"67f0d11b.66aa4","name":"","label":"SSH Off/On","tooltip":"","group":"bb1dd00e.a62b9","order":7,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":490,"y":280,"wires":[["020411fb5dfb59bc"]]},{"id":"b5fd55b5.a6ae18","type":"inject","z":"67f0d11b.66aa4","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"Started!","payloadType":"str","x":100,"y":280,"wires":[["e1c7c026.bf90c"]]},{"id":"1e8187ab.c4a128","type":"ui_switch","z":"67f0d11b.66aa4","name":"","label":"Samba Off/On","tooltip":"","group":"bb1dd00e.a62b9","order":9,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":500,"y":320,"wires":[["c304a76bf566838f"]]},{"id":"e1c7c026.bf90c","type":"python3-function","z":"67f0d11b.66aa4","name":"check ssh","func":"\nwith open(\"/home/pi/shared/log/ssh.log\", \"r\") as file:\n    state=file.read()\nmsg['payload']=False\nif state==\"True\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":300,"y":280,"wires":[["596b6655.6f8c18","35f7bc9e.5f2d74"]]},{"id":"35f7bc9e.5f2d74","type":"python3-function","z":"67f0d11b.66aa4","name":"check samba","func":"\nwith open(\"/home/pi/shared/log/samba.log\", \"r\") as file:\n    state=file.read()\nmsg['payload']=False\nif state==\"True\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":310,"y":320,"wires":[["1e8187ab.c4a128","30eb4a0d.032de6"]]},{"id":"2ca648be.6ecc18","type":"ui_dropdown","z":"67f0d11b.66aa4","name":"Pi Camera","label":"Pi Camera","tooltip":"","place":"Select option","group":"bb1dd00e.a62b9","order":15,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"v1 (5mpx)","value":"v1","type":"str"},{"label":"v2 (8mpx)","value":"v2","type":"str"},{"label":"HQ (12.3mpx)","value":"HQ","type":"str"}],"payload":"","topic":"","topicType":"str","className":"","x":490,"y":360,"wires":[["a4e86041.3c58f"]]},{"id":"30eb4a0d.032de6","type":"python3-function","z":"67f0d11b.66aa4","name":"load var","func":"with open(\"/home/pi/shared/log/camera_type.log\", \"r\") as file:\n    camera=file.read()\n\nmsg['payload']=camera\nreturn msg","outputs":1,"x":300,"y":360,"wires":[["2ca648be.6ecc18","88a22dc7.342eb"]]},{"id":"a4e86041.3c58f","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"camera=msg['payload']\n\nif camera==\"HQ\":\n    resx=4056\n    resy=3040\nif camera==\"v1\":\n    resx=2592\n    resy=1944\nif camera==\"v2\":\n    resx=3280\n    resy=2464\n    \nwith open(\"/home/pi/shared/log/camera_resolution_x.log\", \"w\") as file:\n        file.write(str(resx))\nwith open(\"/home/pi/shared/log/camera_resolution_y.log\", \"w\") as file:\n        file.write(str(resy))\n\nwith open(\"/home/pi/shared/log/camera_type.log\", \"w\") as file:\n        file.write(camera)\n","outputs":1,"x":670,"y":360,"wires":[[]]},{"id":"f393400.d87dcc","type":"python3-function","z":"67f0d11b.66aa4","name":"check ip address","func":"import socket\nimport subprocess\n\ntestIP = \"8.8.8.8\"\ns = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)\ns.connect((testIP, 0))\nipaddr = s.getsockname()[0]\nhost = socket.gethostname()\n\nmsg['ip']=ipaddr\n\nreturn msg","outputs":1,"x":410,"y":1100,"wires":[["bb789eed.9f73c"]]},{"id":"bb789eed.9f73c","type":"ui_text","z":"67f0d11b.66aa4","group":"6a63d9e3.95e668","order":2,"width":0,"height":0,"name":"","label":"Your local IP:","format":"{{msg.ip}}","layout":"row-spread","x":610,"y":1100,"wires":[]},{"id":"577ed26b.27d3ac","type":"python3-function","z":"67f0d11b.66aa4","name":"","func":"msg['payload']='''This is a free piece of software and it is provided 'as is', without any warranty. <br>There might be functions that need a connection to the internet: \n    <br><br>By pressing 'GET FEATURES' you agree that the shown preview image will be transfered, stored and processed via SFTP  to my servers \n    (Thomas Megel, OpenScan, Halle, Germany). The IP address will be saved for 14 days  The images might be used for further experiments (e.g. machine learning, automation ...). \n    \n    <br><br>By entering a token and/or pressing 'UPLOAD', the device will create a connection to my servers, where the associated user information is stored (token, email, name, credit, limit_photos, limit_filesize)\n    The selected image set will be uploaded to Dropbox Inc via one-time temporary upload link. The files will be saved on Dropbox Inc. for a maximum of 7 days. (+the time Dropbox Inc. will need to delete the files permanently)\n    Processing will be done on my local servers, where the images get downloaded from Dropbox and processed on my workstations. The resulting 3D model will be uploaded to Dropbox and a link will be created and send to your email address from my google mail account.\n    \n    <br><br>By uploading data to my servers, you agree, that I can use those images and derived 3d models for further research and to improve my services.\n    The raw images and resulting 3d models will never be published without your explicit consent.  \n    \n    <br><br>If you have any questions you can contact me at info@openscan.eu. \n    \n    <br><br>THE SOFTWARE IS PROVIDED 'AS IS' WITHOUT \n    WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE \n    AND NON-INFRINGEMENT. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR ANYONE DISTRIBUTING THE SOFTWARE BE LIABLE FOR ANY DAMAGES OR OTHER LIABILITY, \n    WHETHER IN CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE'''\n\nreturn msg","outputs":1,"x":510,"y":440,"wires":[["74f9bf59.355c2"]]},{"id":"74f9bf59.355c2","type":"ui_toast","z":"67f0d11b.66aa4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"","x":690,"y":440,"wires":[[]]},{"id":"f3bc73a0.82622","type":"ui_button","z":"67f0d11b.66aa4","name":"","group":"bb1dd00e.a62b9","order":2,"width":5,"height":1,"passthru":false,"label":"Terms of Use","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":310,"y":440,"wires":[["577ed26b.27d3ac"]]},{"id":"cedbd18.437723","type":"ui_switch","z":"67f0d11b.66aa4","name":"","label":"Read & Agree:","tooltip":"","group":"bb1dd00e.a62b9","order":4,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":500,"y":400,"wires":[["cdca8cce.5565c"]]},{"id":"cdca8cce.5565c","type":"python3-function","z":"67f0d11b.66aa4","name":"Terms of Use","func":"with open(\"/home/pi/shared/log/feedback_terms.log\", \"w+\") as file:\n    file.write(str(msg['payload']))\n\nreturn msg","outputs":1,"x":690,"y":400,"wires":[[]]},{"id":"88a22dc7.342eb","type":"python3-function","z":"67f0d11b.66aa4","name":"Terms of Use","func":"with open(\"/home/pi/shared/log/feedback_terms.log\", \"r\") as file:\n    terms=file.read()\n    if terms==\"True\":\n        msg['payload']=True\n    else:\n        msg['payload']=False\nreturn msg","outputs":1,"x":310,"y":400,"wires":[["cedbd18.437723","f3bc73a0.82622","dc03a256.9663c"]]},{"id":"2a0f9919.4c9a86","type":"comment","z":"67f0d11b.66aa4","name":"WIFI","info":"","x":70,"y":940,"wires":[]},{"id":"5447bdcd.9e1684","type":"ui_dropdown","z":"67f0d11b.66aa4","name":"","label":"Model","tooltip":"Choose which build version you are using","place":"Choose Model","group":"bb1dd00e.a62b9","order":13,"width":5,"height":1,"passthru":false,"options":[{"label":"OpenScan Mini","value":"OpenScanMini","type":"str"},{"label":"OpenScan Classic","value":"OpenScanClassic","type":"str"},{"label":"OpenScan Classic (Ext)","value":"OpenScanClassicExt","type":"str"}],"payload":"","topic":"","x":470,"y":520,"wires":[["fe9ce51.bd97018","bf4290a5.12118"]]},{"id":"468cbf31.112a2","type":"python3-function","z":"67f0d11b.66aa4","name":"load var","func":"with open(\"/home/pi/shared/log/openscan_model.log\", \"r\") as file:\n    model=file.read()\n\nmsg['payload']=model\nreturn msg","outputs":1,"x":300,"y":520,"wires":[["5447bdcd.9e1684"]]},{"id":"fe9ce51.bd97018","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"model=msg['payload']\n\nif model==\"OpenScanMini\":\n    with open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"w\") as file:\n        file.write(\"48000\")\n    with open(\"/home/pi/shared/log/openscan_model.log\", \"w\") as file:\n        file.write(\"OpenScanMini\")\n    with open(\"/home/pi/shared/log/rotor_delay.log\",\"w\") as file:\n        file.write(\"0.00008\")\n    with open(\"/home/pi/shared/log/turntable_delay.log\",\"w\") as file:\n        file.write(\"0.0001\")\nelif model==\"OpenScanClassic\":\n    with open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"w\") as file:\n        file.write(\"17067\")\n    with open(\"/home/pi/shared/log/openscan_model.log\", \"w\") as file:\n        file.write(\"OpenScanClassic\")\n    with open(\"/home/pi/shared/log/rotor_delay.log\",\"w\") as file:\n        file.write(\"0.0001\")\n    with open(\"/home/pi/shared/log/turntable_delay.log\",\"w\") as file:\n        file.write(\"0.0001\")\nelif model==\"OpenScanClassicExt\":\n    with open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"w\") as file:\n        file.write(\"17067\")\n    with open(\"/home/pi/shared/log/openscan_model.log\", \"w\") as file:\n        file.write(\"OpenScanClassicExt\")\n    with open(\"/home/pi/shared/log/rotor_delay.log\",\"w\") as file:\n        file.write(\"0.0001\")\n    with open(\"/home/pi/shared/log/turntable_delay.log\",\"w\") as file:\n        file.write(\"0.0001\")\n    with open(\"/home/pi/shared/log/delay_ext.log\",\"w\") as file:\n        file.write(\"1200\")\nreturn msg","outputs":1,"x":670,"y":520,"wires":[["c558b64a.ffde48"]]},{"id":"adb3a465.1c23d8","type":"ui_button","z":"67f0d11b.66aa4","name":"reboot","group":"bb1dd00e.a62b9","order":19,"width":3,"height":1,"passthru":false,"label":"","tooltip":"reboot the raspberry pi","color":"","bgcolor":"","icon":"fa-repeat","payload":"","payloadType":"date","topic":"","x":110,"y":100,"wires":[["3e9d2ca4.953d44","19bc6938.44e717"]]},{"id":"fe90af7b.bcdc1","type":"ui_button","z":"67f0d11b.66aa4","name":"shutdown","group":"bb1dd00e.a62b9","order":18,"width":3,"height":1,"passthru":false,"label":"","tooltip":"shutdown the raspberry pi","color":"","bgcolor":"","icon":"fa-power-off","payload":"","payloadType":"date","topic":"","x":100,"y":140,"wires":[["19bc6938.44e717","bc8e5552.04ba68"]]},{"id":"f1727c0e.b2645","type":"inject","z":"67f0d11b.66aa4","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"Started!","payloadType":"str","x":120,"y":1420,"wires":[["5a43d9a3.e9f4c8"]]},{"id":"62fd3f51.1a43b","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"with open(\"/home/pi/shared/log/angle_min.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":210,"y":1500,"wires":[["b9ce8ae2.d695f8","a483a60a.2e7938"]]},{"id":"f43abc0c.c7bdd","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"angle_min=msg['payload']\n\nwith open(\"/home/pi/shared/log/angle_max.log\", \"r\") as file:\n    angle_max=int(file.read())\n\nif angle_min<angle_max and angle_min>=-90:\n    with open(\"/home/pi/shared/log/angle_min.log\", \"w\") as file:\n        file.write(str(angle_min))\nreturn msg","outputs":1,"x":650,"y":1500,"wires":[["97809658.f62208"]]},{"id":"97809658.f62208","type":"link out","z":"67f0d11b.66aa4","name":"","links":["9b7c8168.21a41","28d871760898eaa1"],"x":835,"y":2220,"wires":[]},{"id":"9b7c8168.21a41","type":"link in","z":"67f0d11b.66aa4","name":"reload Parameters","links":["97809658.f62208","464a9180.fb70f","5a43d9a3.e9f4c8","5823962a.e92de8","532deb07.d350b4","879cfea4.60363","da4f0028.4bf26","6ba3e7fb.29e508","8a12a98e.0b2b58","c558b64a.ffde48"],"x":55,"y":1460,"wires":[["a7e609a9eb0a8c77"]]},{"id":"a483a60a.2e7938","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/angle_max.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":210,"y":1540,"wires":[["845a7107.84d53","bf36937f.ccdd3"]]},{"id":"73204f0a.3e6c3","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"angle_max=msg['payload']\n\nwith open(\"/home/pi/shared/log/angle_min.log\", \"r\") as file:\n    angle_min=int(file.read())\n\nif angle_min<angle_max and angle_max<=90:\n    with open(\"/home/pi/shared/log/angle_max.log\", \"w\") as file:\n        file.write(str(angle_max))\nreturn msg","outputs":1,"x":650,"y":1540,"wires":[["97809658.f62208"]]},{"id":"5a43d9a3.e9f4c8","type":"link out","z":"67f0d11b.66aa4","name":"","links":["9b7c8168.21a41","28d871760898eaa1"],"x":235,"y":1420,"wires":[]},{"id":"2552cacb.48b4d6","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/awb_red.log\", \"r\") as file:\n    msg['payload']=float(file.read())\nreturn msg","outputs":1,"x":210,"y":1620,"wires":[["76d067dd.59dd28","30f5d850.88f898"]]},{"id":"b2026683.c9c858","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=msg['payload']\n\nwith open(\"/home/pi/shared/log/awb_red.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":1620,"wires":[["97809658.f62208"]]},{"id":"30f5d850.88f898","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/awb_blue.log\", \"r\") as file:\n    msg['payload']=float(file.read())\nreturn msg","outputs":1,"x":210,"y":1660,"wires":[["d4c9a8e5.df3368","3c20b869.5d05c8"]]},{"id":"47c26beb.da9994","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=msg['payload']\n\n\nwith open(\"/home/pi/shared/log/awb_blue.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":1660,"wires":[["97809658.f62208"]]},{"id":"845a7107.84d53","type":"ui_slider","z":"67f0d11b.66aa4","name":"","label":"Angle_max","tooltip":"","group":"1e226dbf.9220f2","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"-90","max":"90","step":1,"className":"","x":450,"y":1540,"wires":[["73204f0a.3e6c3"]]},{"id":"b9ce8ae2.d695f8","type":"ui_slider","z":"67f0d11b.66aa4","name":"","label":"Angle_min","tooltip":"","group":"1e226dbf.9220f2","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"-90","max":"90","step":1,"className":"","x":450,"y":1500,"wires":[["f43abc0c.c7bdd"]]},{"id":"76d067dd.59dd28","type":"ui_slider","z":"67f0d11b.66aa4","name":"","label":"AWB_red","tooltip":"","group":"1e226dbf.9220f2","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0","max":"4","step":"0.1","className":"","x":440,"y":1620,"wires":[["b2026683.c9c858"]]},{"id":"d4c9a8e5.df3368","type":"ui_slider","z":"67f0d11b.66aa4","name":"","label":"AWB_blue","tooltip":"","group":"1e226dbf.9220f2","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0","max":"4","step":"0.1","className":"","x":450,"y":1660,"wires":[["47c26beb.da9994"]]},{"id":"97d89989.ec26c8","type":"ui_slider","z":"67f0d11b.66aa4","name":"Rotor_delay (ms)","label":"","tooltip":"","group":"53482f3ffdf649e3","order":4,"width":2,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0.01","max":"1","step":"0.01","className":"","x":470,"y":1760,"wires":[["3aa36145.8d731e"]]},{"id":"f9441148.07a87","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    msg['payload']=float(file.read())*1000\nreturn msg","outputs":1,"x":210,"y":1760,"wires":[["97d89989.ec26c8","ccfa2c2a5686473a"]]},{"id":"3aa36145.8d731e","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=float(msg['payload'])/1000\n\n\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":1760,"wires":[["97809658.f62208"]]},{"id":"3082e2b7.2d5a2e","type":"ui_slider","z":"67f0d11b.66aa4","name":"tt delay","label":"","tooltip":"","group":"53482f3ffdf649e3","order":15,"width":2,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0.01","max":"1","step":"0.01","className":"","x":440,"y":2000,"wires":[["5d03f34d.7aebac"]]},{"id":"cbea9ba9.eaee38","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    msg['payload']=float(file.read())*1000\nreturn msg","outputs":1,"x":210,"y":2000,"wires":[["3082e2b7.2d5a2e","623aec8b9296be3f"]]},{"id":"5d03f34d.7aebac","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=float(msg['payload'])/1000\n\n\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":2000,"wires":[["97809658.f62208"]]},{"id":"79d027d7.6387b8","type":"ui_button","z":"67f0d11b.66aa4","name":"","group":"1e226dbf.9220f2","order":8,"width":6,"height":1,"passthru":false,"label":"Reset all Parameters","tooltip":"","color":"red","bgcolor":"","className":"","icon":"","payload":"Reset all values to their default?","payloadType":"str","topic":"","topicType":"str","x":200,"y":2220,"wires":[["5763b4fd64e3a1f2"]]},{"id":"fbc707fd.d6c6c8","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"if msg['payload']!=\"Yes\":\n    return\n\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n        \nwith open(\"/home/pi/shared/log/openscan_model.log\", \"r\") as file:\n    model=file.read()\n\nwrite(\"turntable_acc\",\"1\")\nwrite(\"turntable_accramp\",\"200\")\nwrite(\"rotor_acc\",\"1\")\nwrite(\"rotor_accramp\",\"200\")\nwrite(\"rotor_angle\",\"5\")\nwrite(\"turntable_angle\",\"10\")\n\n\nif model==\"OpenScanMini\":\n    write(\"angle_min\",\"-20\")\n    write(\"angle_max\",\"90\")\n    write(\"awb_red\",\"1.7\")\n    write(\"awb_blue\",\"1.7\")\n    write(\"rotor_delay\",\"0.00008\")\n    write(\"turntable_delay\",\"0.00002\")\n    write(\"rotor_stepsperrotation\", \"48000\")\n    write(\"turntable_stepsperrotation\", \"3200\")\n\n    return msg\nelif model==\"OpenScanClassic\":\n    write(\"angle_min\",\"-20\")\n    write(\"angle_max\",\"90\")\n    write(\"awb_red\",\"1.7\")\n    write(\"awb_blue\",\"1.7\")\n    write(\"rotor_delay\",\"0.0001\")\n    write(\"turntable_delay\",\"0.00002\")\n    write(\"rotor_stepsperrotation\", \"17067\")\n    write(\"turntable_stepsperrotation\", \"3200\")\n\n    return msg\nelif model==\"OpenScanClassicExt\":\n    write(\"angle_min\",\"-20\")\n    write(\"angle_max\",\"90\")\n    write(\"rotor_delay\",\"0.0001\")\n    write(\"turntable_delay\",\"0.00002\")\n    write(\"delay_ext\",\"1200\")\n    write(\"rotor_stepsperrotation\", \"17067\")\n    write(\"turntable_stepsperrotation\", \"3200\")\n    return msg\n    \nelse:\n    write(\"angle_min\",\"-20\")\n    write(\"angle_max\",\"90\")\n    write(\"rotor_delay\",\"0.0001\")\n    write(\"turntable_delay\",\"0.00002\")\n    write(\"delay_ext\",\"1200\")\n    write(\"rotor_stepsperrotation\", \"17067\")\n    write(\"turntable_stepsperrotation\", \"3200\")\n    return msg","outputs":1,"x":650,"y":2220,"wires":[["97809658.f62208"]]},{"id":"6091cb32.1af884","type":"ui_switch","z":"67f0d11b.66aa4","name":"","label":"Preview Off/On","tooltip":"","group":"bb1dd00e.a62b9","order":11,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":500,"y":480,"wires":[["f1f94da9.f8452"]]},{"id":"dc03a256.9663c","type":"python3-function","z":"67f0d11b.66aa4","name":"load var","func":"\nwith open(\"/home/pi/shared/log/preview.log\", \"r\") as file:\n    state=file.read()\nmsg['payload']=False\nif state==\"true\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":300,"y":480,"wires":[["6091cb32.1af884","468cbf31.112a2"]]},{"id":"f1f94da9.f8452","type":"file","z":"67f0d11b.66aa4","name":"","filename":"/home/pi/shared/log/preview.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":750,"y":480,"wires":[[]]},{"id":"b179e673.d0e798","type":"ui_ui_control","z":"67f0d11b.66aa4","name":"","x":580,"y":580,"wires":[[]]},{"id":"bf4290a5.12118","type":"python3-function","z":"67f0d11b.66aa4","name":"switch","func":"def load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nwith open(\"/home/pi/shared/log/openscan_model.log\", \"r\") as file:\n    model=file.read()\n\n\nif model==\"OpenScanMini\":\n    msg['payload']={\"group\":{\"hide\":[\"Scan_PreviewClassic\",\"Scan_External\",\"Scan_None\"],\"show\":[\"Scan_PreviewMini\",\"Scan_Main\"]}}\n    if load(\"currentstatus_rpi\")==\"no camera found\":\n        msg['payload']={\"group\":{\"hide\":[\"Scan_PreviewClassic\",\"Scan_External\",\"Scan_None\",\"Scan_PreviewMini\"],\"show\":[\"Scan_Main\"]}}\n\n    return msg\nelif model==\"OpenScanClassic\":\n    msg['payload']={\"group\":{\"hide\":[\"Scan_PreviewMini\",\"Scan_External\",\"Scan_None\"],\"show\":[\"Scan_PreviewClassic\",\"Scan_Main\"]}}\n    if load(\"currentstatus_rpi\")==\"no camera found\":\n        msg['payload']={\"group\":{\"hide\":[\"Scan_PreviewMini\",\"Scan_External\",\"Scan_None\",\"Scan_PreviewClassic\"],\"show\":[\"Scan_Main\"]}}\n    return msg\nelif model==\"OpenScanClassicExt\":\n    msg['payload']={\"group\":{\"hide\":[\"Scan_PreviewMini\",\"Scan_PreviewClassic\",\"Scan_Main\",\"Scan_None\"],\"show\":[\"Scan_External\"]}}\n    return msg\nelse:\n    msg['payload']={\"group\":{\"hide\":[\"Scan_PreviewMini\",\"Scan_PreviewClassic\",\"Scan_Main\",\"Scan_External\"],\"show\":[\"Scan_None\"]}}\n    return msg","outputs":1,"x":450,"y":580,"wires":[["b179e673.d0e798"]]},{"id":"c558b64a.ffde48","type":"link out","z":"67f0d11b.66aa4","name":"","links":["9b7c8168.21a41","28d871760898eaa1"],"x":755,"y":520,"wires":[]},{"id":"50c16b58.b98f74","type":"ui_slider","z":"67f0d11b.66aa4","name":"Delay","label":"Delay_External (ms)","tooltip":"","group":"1e226dbf.9220f2","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"100","max":"2500","step":"50","className":"","x":430,"y":1700,"wires":[["7e8d51b6.fdbc5"]]},{"id":"7e8d51b6.fdbc5","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=str(msg['payload'])\nwith open(\"/home/pi/shared/log/delay_ext.log\", \"w\") as file:\n    file.write(value)","outputs":1,"x":650,"y":1700,"wires":[["97809658.f62208"]]},{"id":"3c20b869.5d05c8","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/delay_ext.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":210,"y":1700,"wires":[["50c16b58.b98f74","f9441148.07a87"]]},{"id":"c6dc13ab.7f95b","type":"link in","z":"67f0d11b.66aa4","name":"load model","links":["4e47fd3c.83c3d4"],"x":175,"y":520,"wires":[["468cbf31.112a2"]]},{"id":"e24eacdf.fa24f","type":"ui_slider","z":"67f0d11b.66aa4","name":"","label":"Startangle","tooltip":"","group":"1e226dbf.9220f2","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"-90","max":"90","step":"1","className":"","x":440,"y":1580,"wires":[["9b4b3f8c.cb123"]]},{"id":"bf36937f.ccdd3","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\n\nwith open(\"/home/pi/shared/log/startangle.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":210,"y":1580,"wires":[["e24eacdf.fa24f","2552cacb.48b4d6"]]},{"id":"9b4b3f8c.cb123","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=msg['payload']\n\n\nwith open(\"/home/pi/shared/log/startangle.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":1580,"wires":[["97809658.f62208"]]},{"id":"27c6b221c90ed9e1","type":"exec","z":"67f0d11b.66aa4","command":"sudo iwlist wlan0 scan | grep ESSID | sed 's/ESSID://g;s/\"//g;s/^ *//;s/ *$//'","addpay":false,"append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"scan","x":230,"y":1060,"wires":[["b05cf92302a5c112","f393400.d87dcc"],[],[]]},{"id":"b05cf92302a5c112","type":"python3-function","z":"67f0d11b.66aa4","name":"WIFI","func":"msg['options']=[]\n\nfor i in msg['payload'].split('\\n'):\n    if i not in msg['options'] and i!=\"\":\n        msg['options'].append(i)\n        \nif len(msg['options']) != 0:\n    msg['enabled']=True\n\nreturn msg","outputs":1,"x":370,"y":1060,"wires":[["59c9f67283ba1709"]]},{"id":"da5ddaf4cc25b8c8","type":"ui_button","z":"67f0d11b.66aa4","name":"search","group":"6a63d9e3.95e668","order":4,"width":3,"height":1,"passthru":false,"label":"Search Wifi","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":150,"y":1020,"wires":[["27c6b221c90ed9e1","919299e7080bd8a4"]]},{"id":"59c9f67283ba1709","type":"ui_dropdown","z":"67f0d11b.66aa4","name":"","label":"","tooltip":"","place":"Select Wifi","group":"6a63d9e3.95e668","order":5,"width":3,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"","topicType":"str","className":"","x":520,"y":1020,"wires":[["ec5bea25c93b4fca"]]},{"id":"28ad45e34d5c93e7","type":"inject","z":"67f0d11b.66aa4","name":"5s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5s","topic":"","payloadType":"date","x":110,"y":1100,"wires":[["f393400.d87dcc","27c6b221c90ed9e1"]]},{"id":"919299e7080bd8a4","type":"python3-function","z":"67f0d11b.66aa4","name":"disable","func":"msg['enabled'] = False\nreturn msg","outputs":1,"x":380,"y":1020,"wires":[["59c9f67283ba1709"]]},{"id":"b2d7d6a730f7dca6","type":"ui_button","z":"67f0d11b.66aa4","name":"Reset Wifi","group":"6a63d9e3.95e668","order":6,"width":3,"height":1,"passthru":false,"label":"Reset Wifi","tooltip":"This will reset all previous wifi connections and saved passwords","color":"red","bgcolor":"","className":"","icon":"","payload":"Delete all prior wifi connections? (You will need to reconnect to the OpenScanPi Access Point) - might take 1-2mins","payloadType":"str","topic":"","topicType":"str","x":170,"y":1200,"wires":[["78985ac6d3bcdf60"]]},{"id":"c3b8faac9ebb2c80","type":"python3-function","z":"67f0d11b.66aa4","name":"Reset Wifi","func":"from time import sleep\n\nif msg['payload']!=\"Yes\":\n    return\n\ntemp_dir = '/home/pi/shared/log/wpa_empty.log'\nwpa_dir = '/etc/wpa_supplicant/wpa_supplicant-wlan0.conf'\n\nwith open('/home/pi/shared/log/ap_name.log', 'r') as file:\n    ap_name = file.read()\n\n\nwith open(temp_dir, 'w+') as file:\n    file.write(\n'''country=DE\\nctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\\nupdate_config=1\\nap_scan=1\\n\\n### Access point\\nnetwork={\\n  ssid=\"''' + ap_name + '''\"\\n  mode=2\\n  key_mgmt=WPA-PSK\\n  psk=\"raspberry\"\\n  frequency=2462\\n}\\n\\n### Your networks''')\n\nos.system('sudo mv '+ temp_dir + ' ' + wpa_dir)\nos.system('sudo wpa_cli -i wlan0 reconfigure')\nsleep(3)\nos.system('sudo systemctl restart nodered')\nreturn msg","outputs":1,"x":490,"y":1200,"wires":[[]]},{"id":"78985ac6d3bcdf60","type":"ui_toast","z":"67f0d11b.66aa4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"No","cancel":"Yes","raw":false,"className":"","topic":"","name":"","x":330,"y":1200,"wires":[["c3b8faac9ebb2c80"]]},{"id":"5763b4fd64e3a1f2","type":"ui_toast","z":"67f0d11b.66aa4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"No","cancel":"Yes","raw":false,"className":"","topic":"","name":"","x":490,"y":2220,"wires":[["fbc707fd.d6c6c8"]]},{"id":"114ce08c442f48a5","type":"comment","z":"67f0d11b.66aa4","name":"Parameters","info":"","x":90,"y":1340,"wires":[]},{"id":"324ae27b177b1b5b","type":"ui_button","z":"67f0d11b.66aa4","name":"ssh","group":"bb1dd00e.a62b9","order":8,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"transparent","className":"","icon":"fa-question-circle","payload":"SSH can be used to log in to your Raspberry Pi (for instance with Putty) <br> Activating SSH access poses a security risk and you should only use it for debugging or development. <br> standard user is: pi and password: raspberry <br> please change it as soon as possible","payloadType":"str","topic":"test","topicType":"msg","x":110,"y":660,"wires":[["5899ed3e10e59caf"]]},{"id":"4b94d3de431a04d7","type":"ui_button","z":"67f0d11b.66aa4","name":"SMB","group":"bb1dd00e.a62b9","order":10,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"transparent","className":"","icon":"fa-question-circle","payload":"Samba is a filesharing service, that allows you to enter the devices filesystem <br><br>Server Adress: //openscanpi/pi<br>user: pi<br>password: raspberry<br><br>Deactivate Samba if you do not intend to directly access and manipulate the files on this device.","payloadType":"str","topic":"test","topicType":"msg","x":110,"y":700,"wires":[["5899ed3e10e59caf"]]},{"id":"fb7f4abb8a6bc62f","type":"ui_button","z":"67f0d11b.66aa4","name":"Preview","group":"bb1dd00e.a62b9","order":12,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"transparent","className":"","icon":"fa-question-circle","payload":"You can keep the preview window active during a routine.<br>Note, that this will slow down the routine quite a bit ;)","payloadType":"str","topic":"test","topicType":"msg","x":100,"y":740,"wires":[["5899ed3e10e59caf"]]},{"id":"8a8afedfca229bc3","type":"ui_button","z":"67f0d11b.66aa4","name":"Model","group":"bb1dd00e.a62b9","order":14,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"transparent","className":"","icon":"fa-question-circle","payload":"<b>OpenScan Mini</b><br>see <a href=\"https://www.openscan.eu/openscan-mini/\" target=\"_blank\">OpenScan.eu/openscan-mini</a><br>with Raspberry Pi Camera<br><br><b>OpenScan Classic<br></b>see <a href=\"https://www.openscan.eu/openscani\" target=\"_blank\">OpenScan.eu/openscan-mini</a><br>with Raspberry Pi Camera<br><br><b>OpenScan Classic (Ext)</b><br>Classic version with external camera (triggered via GPIO pin + remote shutter control) --> no preview","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":780,"wires":[["5899ed3e10e59caf"]]},{"id":"a044e3de06846f47","type":"ui_button","z":"67f0d11b.66aa4","name":"Cam","group":"bb1dd00e.a62b9","order":16,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"transparent","className":"","icon":"fa-question-circle","payload":"<b>v1 camera with 5mpx</b><br>Resolution x = 2592px<br>Resolution y = 1944px<br><br><b>v2 camera with 8mpx</b><br>Resolution x = 3280px<br>Resolution y = 2464px<br><br><b>HQ camera with 12mpx</b><br>Resolution x = 4056px<br>Resolution y = 3040px","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":820,"wires":[["5899ed3e10e59caf"]]},{"id":"cb7f80678f0f55b3","type":"ui_button","z":"67f0d11b.66aa4","name":"Terms","group":"bb1dd00e.a62b9","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"transparent","className":"","icon":"fa-question-circle","payload":"Please read & agree the Terms of Use in order to use certain function (show features + OpenScanCloud)","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":860,"wires":[["5899ed3e10e59caf"]]},{"id":"fb23bd9a4ec765c7","type":"python3-function","z":"67f0d11b.66aa4","name":"check AP name","func":"\nwith open(\"/home/pi/shared/log/ap_name.log\", \"r\") as file:\n    name=file.read()\nmsg['payload']=name\nreturn msg","outputs":1,"x":300,"y":1260,"wires":[["2315a4a06a0624c2"]]},{"id":"2315a4a06a0624c2","type":"ui_text_input","z":"67f0d11b.66aa4","name":"","label":"Access Point Name","tooltip":"","group":"6a63d9e3.95e668","order":7,"width":3,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"topicType":"msg","x":490,"y":1260,"wires":[["8191683a3a1b6f3b"]]},{"id":"8191683a3a1b6f3b","type":"python3-function","z":"67f0d11b.66aa4","name":"confirm AP","func":"msg['topic'] = \"Change Access Point\"\n\nwith open('/home/pi/shared/log/ap_name.log', 'r') as file:\n    AP_old = file.read()\nif AP_old == msg['payload']:\n    return\n\nmsg['AP']=msg['payload']\nmsg['payload'] = 'New Access Point name: <b>' + msg['payload']\nreturn msg","outputs":1,"x":670,"y":1260,"wires":[["8b590b189b22c2f2"]]},{"id":"8b590b189b22c2f2","type":"ui_toast","z":"67f0d11b.66aa4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"No","cancel":"Yes","raw":true,"className":"","topic":"","name":"ap","x":810,"y":1260,"wires":[["cb7d89b375c4a577"]]},{"id":"cb7d89b375c4a577","type":"python3-function","z":"67f0d11b.66aa4","name":"confirm AP","func":"if msg['payload'] == 'No':\n    return\n\nwpa_dir = '/etc/wpa_supplicant/wpa_supplicant-wlan0.conf'\ntemp_dir = '/home/pi/shared/log/temp'\n\nAP = msg['AP']\n\nwith open('/home/pi/shared/log/ap_name.log', 'r') as file:\n    AP_old = file.read()\n\n\ntry:\n    with open(wpa_dir, 'r') as file:\n        wpa = file.read()\n        wpa=wpa.replace(AP_old, AP)\n\n    with open(temp_dir,'w+') as file:\n        file.write(wpa)\n    with open('/home/pi/shared/log/ap_name.log', 'w') as file:\n        file.write(AP)\n    msg['topic'] = 'Success - AP name changed'\n    msg['payload'] = 'new name: ' + AP\n    os.system('sudo mv '+temp_dir + ' ' + wpa_dir)\n    os.system('sudo wpa_cli -i wlan0 reconfigure')\n\nexcept:\n    msg['topic'] = 'Error - AP name change failed'\nreturn msg","outputs":1,"x":950,"y":1260,"wires":[["a4233708b0b7abb7"]]},{"id":"a4233708b0b7abb7","type":"ui_toast","z":"67f0d11b.66aa4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"ap","x":1090,"y":1260,"wires":[[]]},{"id":"c304a76bf566838f","type":"python3-function","z":"67f0d11b.66aa4","name":"smb","func":"import os\n\nstate = msg['payload']\n\nwith open(\"/home/pi/shared/log/samba.log\", \"w\") as file:\n    file.write(str(state))\nif state == True:\n    os.system('sudo /etc/init.d/smbd start')\nelse:\n    os.system('sudo /etc/init.d/smbd stop')\n\nreturn msg","outputs":1,"x":670,"y":320,"wires":[[]]},{"id":"020411fb5dfb59bc","type":"python3-function","z":"67f0d11b.66aa4","name":"ssh","func":"import os\n\nstate = msg['payload']\n\nwith open(\"/home/pi/shared/log/ssh.log\", \"w\") as file:\n    file.write(str(state))\nif state == True:\n    os.system('sudo /etc/init.d/ssh start')\nelse:\n    os.system('sudo /etc/init.d/ssh stop')\n\nreturn msg","outputs":1,"x":670,"y":280,"wires":[[]]},{"id":"2c812d7820e7fd47","type":"inject","z":"67f0d11b.66aa4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payloadType":"date","x":130,"y":1260,"wires":[["fb23bd9a4ec765c7"]]},{"id":"a7e609a9eb0a8c77","type":"delay","z":"67f0d11b.66aa4","name":"","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":190,"y":1460,"wires":[["62fd3f51.1a43b"]]},{"id":"4f7f49b12c2d2572","type":"python3-function","z":"67f0d11b.66aa4","name":"add Wifi","func":"from time import sleep\nsleep(0.1)\n\nos.system('sudo wpa_cli -i wlan0 reconfigure')\n\nreturn msg","outputs":1,"x":1320,"y":1040,"wires":[[]]},{"id":"7fac641fb29ecb63","type":"inject","z":"67f0d11b.66aa4","name":"0.1s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payloadType":"date","x":110,"y":980,"wires":[["919299e7080bd8a4"]]},{"id":"0904f0bbe71fb0e9","type":"ui_button","z":"67f0d11b.66aa4","name":"Network","group":"6a63d9e3.95e668","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"transparent","className":"","icon":"fa-question-circle","payload":"SSH can be used to log in to your Raspberry Pi (for instance with Putty) <br> Activating SSH access poses a security risk and you should only use it for debugging or development. <br> standard user is: pi and password: raspberry <br> please change it as soon as possible","payloadType":"str","topic":"test","topicType":"msg","x":320,"y":660,"wires":[["54c6675874dfefd7"]]},{"id":"632f57dd0da78b6b","type":"comment","z":"67f0d11b.66aa4","name":"Help","info":"","x":70,"y":620,"wires":[]},{"id":"c1671e9c684e14a4","type":"ui_button","z":"67f0d11b.66aa4","name":"General Parameters","group":"1e226dbf.9220f2","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"transparent","className":"","icon":"fa-question-circle","payload":"","payloadType":"str","topic":"test","topicType":"msg","x":360,"y":740,"wires":[["3488c0205bd771d5"]]},{"id":"ebaadac0286ba91a","type":"ui_toast","z":"67f0d11b.66aa4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"","x":1150,"y":660,"wires":[[]]},{"id":"d4655701082c5116","type":"link in","z":"67f0d11b.66aa4","name":"","links":["5899ed3e10e59caf","92fc714439229b08","bdf2c0fba13514c6","152b686e7954ecb2","a3e2b6fd929c6a15"],"x":1035,"y":660,"wires":[["ebaadac0286ba91a"]]},{"id":"5899ed3e10e59caf","type":"link out","z":"67f0d11b.66aa4","name":"","mode":"link","links":["d4655701082c5116"],"x":235,"y":660,"wires":[]},{"id":"68b860faa05688ef","type":"ui_button","z":"67f0d11b.66aa4","name":"Cloud","group":"bf7dc348b034d911","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"transparent","className":"","icon":"fa-question-circle","payload":"SSH can be used to log in to your Raspberry Pi (for instance with Putty) <br> Activating SSH access poses a security risk and you should only use it for debugging or development. <br> standard user is: pi and password: raspberry <br> please change it as soon as possible","payloadType":"str","topic":"test","topicType":"msg","x":310,"y":700,"wires":[["200908c9ed6d67df"]]},{"id":"a3e2b6fd929c6a15","type":"link out","z":"67f0d11b.66aa4","name":"","mode":"link","links":["d4655701082c5116"],"x":635,"y":660,"wires":[]},{"id":"ec5bea25c93b4fca","type":"python3-function","z":"67f0d11b.66aa4","name":"msg","func":"ssid = msg['payload']\nmsg['topic'] = 'Add wifi network (' + ssid + ')'\nmsg['payload']='Enter Wifi password:'\nmsg['ssid']=ssid\n\nreturn msg","outputs":1,"x":650,"y":1020,"wires":[["ebcc98685059b9d4"]]},{"id":"ebcc98685059b9d4","type":"ui_toast","z":"67f0d11b.66aa4","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"password","x":780,"y":1020,"wires":[["68204a14528ab842"]]},{"id":"68204a14528ab842","type":"python3-function","z":"67f0d11b.66aa4","name":"msg","func":"if msg['payload'] == 'Cancel':\n    return\n\nmsg['password'] = msg['payload']\nmsg['payload']='Enter country code (ISO 3166-1 alpha-2, see: <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">Wikipedia</a>)'\n\n\nreturn msg","outputs":1,"x":910,"y":1020,"wires":[["852edf901bdec9c5"]]},{"id":"852edf901bdec9c5","type":"ui_toast","z":"67f0d11b.66aa4","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Save","cancel":"Cancel","raw":true,"className":"","topic":"","name":"country","x":1040,"y":1020,"wires":[["1b09d634e3d9357b"]]},{"id":"1b09d634e3d9357b","type":"python3-function","z":"67f0d11b.66aa4","name":"modWPA","func":"if msg['payload'] == 'Cancel':\n    return\n\nif len(msg['payload'])!=2:\n    msg['payload'] = 'invalid country code'\n    return msg,None\n\nwpa_dir = '/etc/wpa_supplicant/wpa_supplicant-wlan0.conf'\nwpa_old_dir = '/etc/wpa_supplicant/wpa_supplicant-wlan0.conf'\ntemp_dir = '/home/pi/shared/log/temp'\n\ncode = msg['payload'].upper()\nssid = msg['ssid']\npassword = msg['password']\n\nif len(code) != 2:\n    msg['payload'] = 'invalid country code (see  ISO 3166-1 alpha-2)'\n    return msg\n\nwith open(wpa_dir, 'r') as file:\n    for i in file.readlines():\n        if 'country=' in i:\n            code_old=i.split('country=')[1][0:2]\n        break\n    msg['code_old']=code_old\n\nwith open(wpa_dir, 'r') as file:\n    wpa = file.read()\n    wpa=wpa.replace('country=' + code_old, 'country=' + code)\n    wpa=wpa + '\\nnetwork={\\n priority=10\\n ssid=\"'+ssid+'\"\\n psk=\"'+password+'\"\\n}\\n'\n\nwith open(temp_dir,'w+') as file:\n    file.write(wpa)\nos.system('sudo mv '+temp_dir + ' ' + wpa_dir)\n\nmsg['topic'] = 'Updating Wifi'\nmsg['payload'] = 'reconnecting might take a moment'\nreturn msg,msg\n\n","outputs":2,"x":1180,"y":1020,"wires":[["03732a7d3b0c95aa"],["4f7f49b12c2d2572"]]},{"id":"03732a7d3b0c95aa","type":"ui_toast","z":"67f0d11b.66aa4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1330,"y":1000,"wires":[[]]},{"id":"3488c0205bd771d5","type":"python3-function","z":"67f0d11b.66aa4","name":"msg","func":"msg['payload']='''<p style=\"text-align: center;\"><span style=\"font-size: 22px;\"><u><strong>Parameters</strong></u></span></p>\n<p><strong>Angle_max/min</strong></p>\n<p style=\"margin-left: 20px;\">Defining the maximum deflection of the rotor.</p>\n<p><strong>Startangle</strong></p>\n<p style=\"margin-left: 20px;\">Defining the rotor position before the routine is started (usually 0&deg;).&nbsp;</p>\n<p style=\"margin-left: 20px;\">For a detailed description what these angles mean, please consult the manual on <a href=\"https://www.openscan.eu\" rel=\"noopener noreferrer\" target=\"_blank\">OpenScan.eu</a>.</p>\n<p id=\"isPasted\"><strong>AWB_red/blue</strong></p>\n<p style=\"margin-left: 20px;\">Set the auto-white balance gains of the camera, which should be between 0.0 and 8.0.</p>\n<p style=\"margin-left: 20px;\">Typical values are between 0.9 and 1.9.</p>\n<p id=\"isPasted\"><strong>Delay_External</strong></p>\n<p style=\"margin-left: 20px;\">Set the wait time in external camera mode. This will define the delay between triggering the camera and moving to the next position.</p>'''\nreturn msg","outputs":1,"x":530,"y":740,"wires":[["a3e2b6fd929c6a15"]]},{"id":"200908c9ed6d67df","type":"python3-function","z":"67f0d11b.66aa4","name":"msg","func":"msg['payload']='''<p style=\"text-align: center;\"><span style=\"font-size: 22px;\"><u><strong>OpenScanCloud</strong></u></span></p>\n<p><strong>Description</strong></p>\n<p style=\"margin-left: 20px;\">The OpenScanCloud is a free processing tool, where you can upload your image sets to the OpenScan Servers.</p>\n<p style=\"margin-left: 20px;\">After uploading an image set to the OpenScanCloud, processing will take some time, and you will receive the resulting 3d model by email.</p>\n<p><strong>Token</strong></p>\n<p id=\"isPasted\" style=\"margin-left: 20px;\">The only thing needed is an individual token, which will be associated with your first and last name and your email address.</p>\n<p style=\"margin-left: 20px;\">You require registering for such a token by clicking the &quot;Apply&quot; button and entering your details.&nbsp;</p>\n<p style=\"margin-left: 20px;\">After your request has been approved, you will get an email with a 32-digit token.</p>\n<p id=\"isPasted\"><strong>Credit</strong></p>\n<p style=\"margin-left: 20px;\">Note, that each user has a given amount of upload credit, which is measured in gigabyte and can be increased at any time by emailing to cloud@openscan.eu</p>\n<p style=\"margin-left: 20px;\">Once you run out of credit, any newly uploaded image sets will be declined.</p>\n<p id=\"isPasted\"><strong>Maximum number of photos</strong></p>\n<p style=\"margin-left: 20px;\">There is a limit on the numbers of photos an image set is allowed to contain.</p>\n<p id=\"isPasted\"><strong>Maximum Filesize</strong></p>\n<p style=\"margin-left: 20px;\">The size of an image set is limited by default in order to reduce processing times and the data traffic.</p>\n<p style=\"margin-left: 20px;\">You can simply reduce the size of an image set by cropping the images in the scan tab</p>\n<p id=\"isPasted\"><strong>Refresh</strong></p>\n<p style=\"margin-left: 20px;\">Hitting refresh will update your credit, max. number of photos and max. filesize with the current values from the servers.</p>\n<p id=\"isPasted\"><strong>Register</strong></p>\n<p style=\"margin-left: 20px;\">Register your personal token by submitting your email address, first and last name. It might take some time until you get an approval and your personal token by email to the given address.</p>'''\nreturn msg","outputs":1,"x":530,"y":700,"wires":[["a3e2b6fd929c6a15"]]},{"id":"54c6675874dfefd7","type":"python3-function","z":"67f0d11b.66aa4","name":"msg","func":"msg['payload']='''<p style=\"text-align: center;\"><span style=\"font-size: 22px;\"><u><strong>Network</strong></u></span></p>\n<p style=\"margin-left: 20px;\">The OpenScan device will scan for available Wifi networks after booting. If no known network is found, the device will create an Access Point with the given name. It is always possible to connect the OpenScanPi by Ethernet. The user-interface can be opened in any browser from any device in the same network using the following address: <a href=\"http://openscanpi:1880/ui\">http://openscanpi:1880/ui</a></p>\n<p><strong>Search Wifi</strong></p>\n<p style=\"margin-left: 20px;\">You can always search manually. Searching might take a moment. If the <em>Select Wifi dropdown</em> appears disabled, you might need to press the <em>Search Wifi button</em> again and wait for a couple of seconds.</p>\n<p id=\"isPasted\"><strong>Select Wifi</strong></p>\n<p style=\"margin-left: 20px;\">A selectable list of all available networks will appear. Choosing one of the available networks from the list will open a pop-up window, where you can enter the Wifi credentials (Password + Country Code).</p>\n<p style=\"margin-left: 20px;\">The country code is a two-digit code, that can be found here: <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\" id=\"isPasted\">https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2</a></p>\n<p style=\"margin-left: 20px;\">The network credentials will be saved and the device will try to connect to the given network, which might take a moment.</p>\n<p><strong>Reset Wifi</strong></p>\n<p style=\"margin-left: 20px;\">Pressing this button will delete all saved networks. The device will create an access point with the given name (password &apos;raspberry&apos;). Note, that this might take 1-2 minutes and the device might reboot.</p>\n<p><strong>Access Point Name</strong></p>\n<p style=\"margin-left: 20px;\">It is possible to change the Access Point name, which can be used in order to remotly differentiate between multiple devices.</p>\n'''\nreturn msg","outputs":1,"x":530,"y":660,"wires":[["a3e2b6fd929c6a15"]]},{"id":"063209659edffcbe","type":"ui_button","z":"67f0d11b.66aa4","name":"OSC","group":"db43d646.2074c8","order":1,"width":6,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"transparent","className":"","icon":"fa-question-circle","payload":"","payloadType":"str","topic":"test","topicType":"msg","x":310,"y":880,"wires":[["d1836bc19b6538a0"]]},{"id":"d1836bc19b6538a0","type":"python3-function","z":"67f0d11b.66aa4","name":"msg","func":"msg['payload']='''<p style=\"text-align: center;\"><span style=\"font-size: 22px;\"><u><strong>OpenScanCloud</strong></u></span></p>\n<p style=\"margin-left: 20px;\">The OpenScanCloud is a free service, where you can upload your datasets to the OpenScan servers. The server will reconstruct<a href=\"http://openscanpi:1880/ui\"></a> your 3d model. The result will be stored on Dropbox for seven days and you will get a private download link by email.&nbsp;</p>\n<p style=\"margin-left: 20px;\">In order to use the service, you need to register (name + email address) via the settings menu and agree to the Terms of Use.</p>\n<p><strong>Upload</strong></p>\n<p style=\"margin-left: 20px;\">First, select an image set from the list. By clicking upload, the set will be split and zipped, which might take some time. After that, the individual 200mb chunks will be uploaded to the OpenScanCloud for processing. Note, that it is not possible to create a new photo set during the upload process and vise versa.</p>\n<p><strong>Refresh</strong></p>\n<p style=\"margin-left: 20px;\">By clicking on refresh, the status of all prior uploaded image sets will be queried from the OpenScanCloud server. And the <em>column&nbsp;</em><em>Status</em> will be updated with on of the following statuses:</p>\n<p style=\"margin-left: 20px;\"><u>started&nbsp;</u>- indicating that your request and files have been transmitted and the server will start working on your set as soon as possible.</p>\n<p style=\"margin-left: 20px;\"><u>file approved</u> - your files have been loaded and approved</p>\n<p style=\"margin-left: 20px;\"><u>processing started</u> - the server started working on your files. You should get an email with the result within the next minutes.</p>\n<p style=\"margin-left: 20px;\"><u>processing done</u> - Processing succeeded and you should find an email with the download link of your 3d model (sender: <a href=\"mailto:cloud@openscan.eu\">cloud@openscan.eu</a>)</p>\n<p style=\"margin-left: 20px;\">processing failed - OpenScanCloud could not create a 3d model of your image set. Please see the email with some further details and possible reasons.</p>\n<p><strong>Delete Files</strong></p>\n<p style=\"margin-left: 20px;\">You can either delete individual or all stored image sets in order to free some memory. Note, that this step can not be undone.</p>\n<p style=\"margin-left: 20px;\">You will get a notification, once the 80% or more of the disc space are in use.</p>\n<p style=\"margin-left: 20px;\">IMPORTANT NOTE: Running out of memory might result in an instable or even inoperable user interface, so please do not ignore the memory warning!</p>\n'''\nreturn msg","outputs":1,"x":530,"y":880,"wires":[["a3e2b6fd929c6a15"]]},{"id":"b78115161266268a","type":"ui_button","z":"67f0d11b.66aa4","name":"Motor Parameters","group":"53482f3ffdf649e3","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"transparent","className":"","icon":"fa-question-circle","payload":"","payloadType":"str","topic":"test","topicType":"msg","x":350,"y":780,"wires":[["a864af909143e777"]]},{"id":"a864af909143e777","type":"python3-function","z":"67f0d11b.66aa4","name":"msg","func":"msg['payload']='''<p style=\"text-align: center;\"><span style=\"font-size: 22px;\"><u><strong>Motor Parameters</strong></u></span></p>\n<p style=\"margin-left: 20px;\">Control the parameters for the two motors.</p>\n<p style=\"margin-left: 20px;\">In order to create a smoother motion, an acceleration ramp of a given width (in steps) is used. The delay between each step of the motor is calculated by the following formula: delay_ramp = delay + (ramp-x)*delay/acceleration. (delay in milliseconds, ramp in steps and acceleration as factor). See the detailed description below</p>\n<p><strong>Delay</strong></p>\n<p style=\"margin-left: 20px;\">Delay in milliseconds between each step of the motor. The higher the value, the slower the overall movement.</p>\n<p><strong>Acceleration</strong></p>\n<p style=\"margin-left: 20px;\">A factor which speeds up/ slows down the acceleration.</p>\n<p><strong>Acceleration Ramp</strong></p>\n<p style=\"margin-left: 20px;\">Defines the number of steps for acceleration/deceleration. The higher the number, the softer the start/stop movement.</p>\n<p id=\"isPasted\"><strong>Steps per Rotation</strong></p>\n<p style=\"margin-left: 20px;\">Defines the number of steps it takes to turn the corresponding axis 360&deg;.</p>\n<p style=\"margin-left: 20px;\">Rotor - OpenScanMini: 48000 - OpenScanClassic: 17067</p>\n<p style=\"margin-left: 20px;\">Turntable - OpenScanMini + Classic: 3200&nbsp;</p>\n<p id=\"isPasted\"><strong>Manual Angle</strong></p>\n<p style=\"margin-left: 20px;\">Defines the angle that the motor is moving, when using the arrow buttons in the <em>scan menu</em>.</p>\n'''\nreturn msg","outputs":1,"x":530,"y":780,"wires":[["a3e2b6fd929c6a15"]]},{"id":"ccfa2c2a5686473a","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/rotor_acc.log\", \"r\") as file:\n    msg['payload']=float(file.read())\nreturn msg","outputs":1,"x":210,"y":1800,"wires":[["a2a25916e6e1c3de","7cf211a8698e3885"]]},{"id":"a2a25916e6e1c3de","type":"ui_slider","z":"67f0d11b.66aa4","name":"rotor_acc","label":"","tooltip":"","group":"53482f3ffdf649e3","order":6,"width":2,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0.05","max":"2","step":"0.05","className":"","x":440,"y":1800,"wires":[["53e334d11623777a"]]},{"id":"53e334d11623777a","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=float(msg['payload'])\n\n\nwith open(\"/home/pi/shared/log/rotor_acc.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":1800,"wires":[["97809658.f62208"]]},{"id":"7cf211a8698e3885","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/rotor_accramp.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":210,"y":1840,"wires":[["04471eb4acc6fecd","5b32dba5b0b7b3be"]]},{"id":"04471eb4acc6fecd","type":"ui_slider","z":"67f0d11b.66aa4","name":"rotor_accramp","label":"","tooltip":"","group":"53482f3ffdf649e3","order":8,"width":2,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"1","max":"500","step":"1","className":"","x":460,"y":1840,"wires":[["de90fecf1dbc2ce6"]]},{"id":"de90fecf1dbc2ce6","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=int(msg['payload'])\n\n\nwith open(\"/home/pi/shared/log/rotor_accramp.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":1840,"wires":[["97809658.f62208"]]},{"id":"5b32dba5b0b7b3be","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":210,"y":1880,"wires":[["17c4b3d643e07750","eb9d32c04fbc7654"]]},{"id":"17c4b3d643e07750","type":"ui_text_input","z":"67f0d11b.66aa4","name":"rotor_stepsperrotation","label":"","tooltip":"","group":"53482f3ffdf649e3","order":10,"width":2,"height":1,"passthru":false,"mode":"number","delay":"0","topic":"topic","sendOnBlur":true,"topicType":"msg","x":480,"y":1880,"wires":[["d559a4d011ebc5be"]]},{"id":"d559a4d011ebc5be","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=int(msg['payload'])\n\n\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":1880,"wires":[["97809658.f62208"]]},{"id":"a0b78a02f14d694e","type":"ui_text","z":"67f0d11b.66aa4","group":"53482f3ffdf649e3","order":7,"width":4,"height":1,"name":"rotor Accramp","label":"Acceleration ramp","format":"","layout":"row-left","className":"","x":920,"y":1840,"wires":[]},{"id":"0453bc9661416b7f","type":"ui_text","z":"67f0d11b.66aa4","group":"53482f3ffdf649e3","order":9,"width":4,"height":1,"name":"rotor_Steps per Rotation","label":"Steps per Rotation","format":"","layout":"row-spread","className":"","x":950,"y":1880,"wires":[]},{"id":"1739cddc401c70c7","type":"ui_text","z":"67f0d11b.66aa4","group":"53482f3ffdf649e3","order":5,"width":4,"height":1,"name":"rotor Acc","label":"Acceleration","format":"","layout":"row-left","className":"","x":900,"y":1800,"wires":[]},{"id":"c6616d4e15c731d1","type":"ui_text","z":"67f0d11b.66aa4","group":"53482f3ffdf649e3","order":3,"width":4,"height":1,"name":"rotor_delay","label":"Delay","format":"","layout":"row-left","className":"","x":910,"y":1760,"wires":[]},{"id":"0c33dd487ccb7899","type":"ui_text","z":"67f0d11b.66aa4","group":"53482f3ffdf649e3","order":2,"width":6,"height":1,"name":"rotor","label":"ROTOR","format":"","layout":"row-center","className":"","x":850,"y":1720,"wires":[]},{"id":"bf8eadd1206dcebe","type":"ui_text","z":"67f0d11b.66aa4","group":"53482f3ffdf649e3","order":13,"width":6,"height":1,"name":"tt","label":"TURNTABLE","format":"","layout":"row-center","className":"","x":850,"y":1960,"wires":[]},{"id":"623aec8b9296be3f","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/turntable_acc.log\", \"r\") as file:\n    msg['payload']=float(file.read())\nreturn msg","outputs":1,"x":210,"y":2040,"wires":[["1b5a09da9d41e0f6","df76592560ae6852"]]},{"id":"1b5a09da9d41e0f6","type":"ui_slider","z":"67f0d11b.66aa4","name":"tt_acc","label":"","tooltip":"","group":"53482f3ffdf649e3","order":17,"width":2,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0.05","max":"2","step":"0.05","className":"","x":430,"y":2040,"wires":[["9bf7b2e97808b042"]]},{"id":"9bf7b2e97808b042","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=float(msg['payload'])\n\n\nwith open(\"/home/pi/shared/log/turntable_acc.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":2040,"wires":[["97809658.f62208"]]},{"id":"df76592560ae6852","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/turntable_accramp.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":210,"y":2080,"wires":[["47d8ea44c18d8e1c","0b15e4c9fb550adc"]]},{"id":"47d8ea44c18d8e1c","type":"ui_slider","z":"67f0d11b.66aa4","name":"tt_accramp","label":"","tooltip":"","group":"53482f3ffdf649e3","order":19,"width":2,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"1","max":"500","step":"1","className":"","x":450,"y":2080,"wires":[["19f293d708943806"]]},{"id":"19f293d708943806","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=int(msg['payload'])\n\n\nwith open(\"/home/pi/shared/log/turntable_accramp.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":2080,"wires":[["97809658.f62208"]]},{"id":"0b15e4c9fb550adc","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":210,"y":2120,"wires":[["8cea1ec57d1cc238","920ae08303ba9653"]]},{"id":"8cea1ec57d1cc238","type":"ui_text_input","z":"67f0d11b.66aa4","name":"tt_stepsperrotation","label":"","tooltip":"","group":"53482f3ffdf649e3","order":21,"width":2,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"topic","sendOnBlur":true,"topicType":"msg","x":470,"y":2120,"wires":[["749421119f8caee8"]]},{"id":"749421119f8caee8","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=int(msg['payload'])\n\n\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":2120,"wires":[["97809658.f62208"]]},{"id":"60c40bda12acd474","type":"ui_text","z":"67f0d11b.66aa4","group":"53482f3ffdf649e3","order":18,"width":4,"height":1,"name":"ttAccramp","label":"Acceleration ramp","format":"","layout":"row-left","className":"","x":900,"y":2080,"wires":[]},{"id":"1843a532066619a2","type":"ui_text","z":"67f0d11b.66aa4","group":"53482f3ffdf649e3","order":20,"width":4,"height":1,"name":"tt_steps per Rotation","label":"Steps per Rotation","format":"","layout":"row-spread","className":"","x":940,"y":2120,"wires":[]},{"id":"52bb5ff4cfdc6141","type":"ui_text","z":"67f0d11b.66aa4","group":"53482f3ffdf649e3","order":16,"width":4,"height":1,"name":"tt Acc","label":"Acceleration","format":"","layout":"row-left","className":"","x":890,"y":2040,"wires":[]},{"id":"19e278593a443467","type":"ui_text","z":"67f0d11b.66aa4","group":"53482f3ffdf649e3","order":14,"width":4,"height":1,"name":"tt_delay","label":"Delay","format":"","layout":"row-left","className":"","x":900,"y":2000,"wires":[]},{"id":"eb9d32c04fbc7654","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/rotor_angle.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":210,"y":1920,"wires":[["d77525b01c90cb02","cbea9ba9.eaee38"]]},{"id":"d77525b01c90cb02","type":"ui_slider","z":"67f0d11b.66aa4","name":"rotor_angle","label":"","tooltip":"","group":"53482f3ffdf649e3","order":12,"width":2,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"1","max":"45","step":"1","className":"","x":450,"y":1920,"wires":[["a0a50213627b9ffa"]]},{"id":"a0a50213627b9ffa","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=int(msg['payload'])\n\n\nwith open(\"/home/pi/shared/log/rotor_angle.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":1920,"wires":[["97809658.f62208"]]},{"id":"b73039f923fc8a0a","type":"ui_text","z":"67f0d11b.66aa4","group":"53482f3ffdf649e3","order":11,"width":4,"height":1,"name":"rotor_angle","label":"Manual angle","format":"","layout":"row-spread","className":"","x":910,"y":1920,"wires":[]},{"id":"920ae08303ba9653","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"from time import sleep\nsleep (0.02)\n\nwith open(\"/home/pi/shared/log/turntable_angle.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":210,"y":2160,"wires":[["12e8bde2b0d3bccc","79d027d7.6387b8"]]},{"id":"12e8bde2b0d3bccc","type":"ui_slider","z":"67f0d11b.66aa4","name":"tt_angle","label":"","tooltip":"","group":"53482f3ffdf649e3","order":23,"width":2,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"1","max":"45","step":"1","className":"","x":440,"y":2160,"wires":[["4d0ba17163b63d22"]]},{"id":"4d0ba17163b63d22","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=int(msg['payload'])\n\n\nwith open(\"/home/pi/shared/log/turntable_angle.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":650,"y":2160,"wires":[["97809658.f62208"]]},{"id":"4ae4cf785e8e217c","type":"ui_text","z":"67f0d11b.66aa4","group":"53482f3ffdf649e3","order":22,"width":4,"height":1,"name":"tt_angle","label":"Manual angle","format":"","layout":"row-spread","className":"","x":900,"y":2160,"wires":[]},{"id":"381178e03a98b68a","type":"inject","z":"67f0d11b.66aa4","name":"","props":[{"p":"payload","v":"0.2","vt":"str"},{"p":"topic","v":"Repeat","vt":"string"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","x":290,"y":580,"wires":[["bf4290a5.12118"]]},{"id":"fbf4ecc7852ab450","type":"link in","z":"67f0d11b.66aa4","name":"disable","links":["05762fd6277a4e0a","0295b7fad0351b47"],"x":55,"y":1500,"wires":[["62fd3f51.1a43b"]]},{"id":"a68a0b73b3108da2","type":"link in","z":"67f0d11b.66aa4","name":"disable","links":["05762fd6277a4e0a","0295b7fad0351b47"],"x":195,"y":240,"wires":[["e1c7c026.bf90c"]]},{"id":"5473658188b9aee3","type":"link in","z":"67f0d11b.66aa4","name":"disable","links":["05762fd6277a4e0a","0295b7fad0351b47"],"x":375,"y":1300,"wires":[["2315a4a06a0624c2"]]},{"id":"acd1cabb15ad4b39","type":"link in","z":"67f0d11b.66aa4","name":"disable","links":["05762fd6277a4e0a","0295b7fad0351b47"],"x":55,"y":1200,"wires":[["b2d7d6a730f7dca6"]]},{"id":"6cd574de3bda9ca3","type":"link in","z":"67f0d11b.66aa4","name":"disable","links":["05762fd6277a4e0a","0295b7fad0351b47"],"x":55,"y":1020,"wires":[["da5ddaf4cc25b8c8"]]},{"id":"6a111672feedad80","type":"link in","z":"67f0d11b.66aa4","name":"disable","links":["05762fd6277a4e0a","0295b7fad0351b47"],"x":415,"y":980,"wires":[["59c9f67283ba1709"]]},{"id":"f21c4a4eb59de0a0","type":"ui_switch","z":"67f0d11b.66aa4","name":"","label":"Activate Settings & Update","tooltip":"","group":"bb1dd00e.a62b9","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":220,"y":2340,"wires":[["55fa19fe4aec7f4c"]]},{"id":"49d04671f49c39a4","type":"inject","z":"67f0d11b.66aa4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":2300,"wires":[["55fa19fe4aec7f4c"]]},{"id":"55fa19fe4aec7f4c","type":"python3-function","z":"67f0d11b.66aa4","name":"enable","func":"state = msg['payload']\nmsg = {}\nmsg['enabled'] = state\nreturn msg","outputs":1,"x":390,"y":2340,"wires":[["0295b7fad0351b47"]]},{"id":"0295b7fad0351b47","type":"link out","z":"67f0d11b.66aa4","name":"disable","mode":"link","links":["fbf4ecc7852ab450","a68a0b73b3108da2","5473658188b9aee3","acd1cabb15ad4b39","6cd574de3bda9ca3","6a111672feedad80","c5a1abc0f198bdda","879ec539c5d1ad32","27cbeb6d9a1cb59e","c670efb393f6ca96","788fabff98c7973c","721a91db171f8d43","49d7b659b4539a03","67175b14817bbd0e","1faa9c29a34277f0"],"x":475,"y":2340,"wires":[]},{"id":"a3a12a62.452ab8","type":"ui_text","z":"4aee81d.130dd8","group":"ddbd496e.93a288","order":2,"width":0,"height":0,"name":"update text","label":"","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-center","x":270,"y":520,"wires":[]},{"id":"db31530a.7735b","type":"ui_button","z":"4aee81d.130dd8","name":"","group":"ddbd496e.93a288","order":3,"width":0,"height":0,"passthru":false,"label":"Check for Updates","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":200,"wires":[["7600f12d.cf32e","501a81c3.027e5"]]},{"id":"51433c54.55af44","type":"link in","z":"4aee81d.130dd8","name":"update","links":["c803000f.cec2e","babe2a6.c6c27d8","29352168.95ba2e","d33997e3.7b5128","1a32f672.50fafa","629556b9.c99758","e4b7a78b.af9278","b039b421.71ff38","d08d2313.3d81c","eb1b989b.411858","bac9b0cb.79a11","bb2e44d.554e4b8","130354ce.aee30b","946280a5.09db7","4c3f489f.1d5368","611f2d91.2c4414","51094d6d.4c8694","63a4fbc5.934a74"],"x":135,"y":520,"wires":[["a3a12a62.452ab8","5a50b653.49be68","7995fbed.e90774"]]},{"id":"ebf60ed3.4c254","type":"python3-function","z":"4aee81d.130dd8","name":"Compare Versions","func":"import os\n\n\nfile = '/home/pi/shared/ui/data/update.log'\nurl = 'https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/update_universal.log'\ntry:\n    os.remove(file)\nexcept OSError:\n    pass\nos.system('wget -O'+file+' '+url+' >/dev/null 2>&1')\n\n\nwith open(\"/home/pi/shared/ui/data/update.log\", \"r\") as file:\n    versionserver=str(file.read())[:16]\nwith open(\"/home/pi/shared/log/currentversion.log\", \"r\") as file:\n    versionpi=str(file.read())[:16]\n\nmsg['payload']=\"you are up to date\"\n\nif versionpi!=versionserver and versionserver!=\"\":\n    file=\"/home/pi/.node-red/flows_raspberrypi_download.json\"\n    url=\"https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/update_universal.json\"\n    try:\n        os.remove(file)\n    except OSError:\n        pass\n    os.system('wget -O'+file+' '+url+' >/dev/null 2>&1')\n\n    with open(\"/home/pi/shared/log/currentserverversion.log\", \"w\") as file:\n        file.write(versionserver)\n    os.rename(\"/home/pi/.node-red/flows_raspberrypi_download.json\",\"/home/pi/shared/ui/data/old_flows/\"+versionserver+\".json\")\n    msg['payload']=\"new updates available\"\n\nreturn msg","outputs":1,"x":630,"y":200,"wires":[["d08d2313.3d81c","ccefcc90.280d9","da63f320.75bcc"]]},{"id":"a068495.e7347b8","type":"python3-function","z":"4aee81d.130dd8","name":"autoupdate checker","func":"\nwith open(\"/home/pi/shared/log/autoupdatestate.log\", \"r\") as file:\n    autoupdate=file.read()\nmsg['payload']=False\nif autoupdate==\"true\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":310,"y":40,"wires":[["4757554e.08088c"]]},{"id":"4757554e.08088c","type":"ui_switch","z":"4aee81d.130dd8","name":"","label":"Auto-check for updates","tooltip":"Enable the auto-update check after starting the device. (Internet connection required)","group":"ddbd496e.93a288","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":590,"y":40,"wires":[["8266379e.ed1bb8"]]},{"id":"8266379e.ed1bb8","type":"file","z":"4aee81d.130dd8","name":"","filename":"/home/pi/shared/log/autoupdatestate.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":880,"y":40,"wires":[[]]},{"id":"69253358.bf412c","type":"inject","z":"4aee81d.130dd8","name":"","repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"Started!","payloadType":"str","x":100,"y":40,"wires":[["a068495.e7347b8","302f3bb7.a86654","954bf550.aa5088"]]},{"id":"302f3bb7.a86654","type":"python3-function","z":"4aee81d.130dd8","name":"update check on?","func":"\nwith open(\"/home/pi/shared/log/autoupdatestate.log\", \"r\") as file:\n    autoupdate=file.read()\nif autoupdate==\"true\":\n    msg['payload']=\"on\"\n    return msg\n","outputs":1,"x":310,"y":80,"wires":[["501a81c3.027e5"]]},{"id":"d08d2313.3d81c","type":"link out","z":"4aee81d.130dd8","name":"","links":["51433c54.55af44"],"x":875,"y":160,"wires":[]},{"id":"7600f12d.cf32e","type":"function","z":"4aee81d.130dd8","name":"msg","func":"msg.payload =\"checking for updates\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["eb1b989b.411858"]]},{"id":"eb1b989b.411858","type":"link out","z":"4aee81d.130dd8","name":"","links":["51433c54.55af44"],"x":415,"y":240,"wires":[]},{"id":"ba6a944f.28fbf8","type":"ui_text","z":"4aee81d.130dd8","group":"3ce32450.e0cffc","order":1,"width":0,"height":0,"name":"Your version:","label":"Your version:","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":300,"wires":[]},{"id":"147a8c8b.02d703","type":"ui_text","z":"4aee81d.130dd8","group":"3ce32450.e0cffc","order":2,"width":0,"height":0,"name":"","label":"Most recent version:","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":340,"wires":[]},{"id":"78fe77ae.637248","type":"python3-function","z":"4aee81d.130dd8","name":"msg","func":"\nwith open(\"/home/pi/shared/log/currentversion.log\", \"r\") as file:\n    msg['payload']=file.read()\nreturn msg","outputs":1,"x":270,"y":300,"wires":[["ba6a944f.28fbf8"]]},{"id":"8f30cdc7.d8d0a","type":"python3-function","z":"4aee81d.130dd8","name":"msg","func":"\nwith open(\"/home/pi/shared/log/currentserverversion.log\", \"r\") as file:\n    msg['payload']=file.read()\nreturn msg","outputs":1,"x":270,"y":340,"wires":[["147a8c8b.02d703"]]},{"id":"53d30b48.e7c2b4","type":"function","z":"4aee81d.130dd8","name":"msg","func":"msg.payload =\"installing new version\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":890,"y":600,"wires":[["bb2e44d.554e4b8"]]},{"id":"7e517945.e751d8","type":"exec","z":"4aee81d.130dd8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"install update","x":910,"y":500,"wires":[["c7dea90b.5b6478"],[],[]]},{"id":"bb2e44d.554e4b8","type":"link out","z":"4aee81d.130dd8","name":"","links":["51433c54.55af44"],"x":1055,"y":600,"wires":[]},{"id":"130354ce.aee30b","type":"link out","z":"4aee81d.130dd8","name":"","links":["51433c54.55af44"],"x":1055,"y":560,"wires":[]},{"id":"59489284.99141c","type":"python3-function","z":"4aee81d.130dd8","name":"msg","func":"from time import sleep\nwith open(\"/home/pi/shared/log/currentversion.log\", \"w\") as file:\n    file.write(msg['payload2'])\n\nsleep(2)\nmsg['payload']=\"rebooting...\"\nreturn msg","outputs":1,"x":890,"y":560,"wires":[["130354ce.aee30b","fdbb71b7.ca9b4"]]},{"id":"da63f320.75bcc","type":"link out","z":"4aee81d.130dd8","name":"","links":["fdb965c8.f9e728","e5e35ad0.2dbfd8","e0e065cb.b8d888","e6ce1ce5.31d35","88b5807b.a0959","8745d44c.1a61c8"],"x":875,"y":240,"wires":[]},{"id":"7aae1e89.08d37","type":"function","z":"4aee81d.130dd8","name":"t/f","func":"if (msg.payload === true){\n    msg.payload=true\n    return [msg,null]\n}\nmsg.payload=\"no internet connection\"\nreturn [null,msg]\n","outputs":2,"noerr":0,"x":450,"y":200,"wires":[["ebf60ed3.4c254"],["eb1b989b.411858","ff2b5fe1.2d803"]]},{"id":"f1bbe902.de5cd8","type":"link in","z":"4aee81d.130dd8","name":"Version","links":["ccefcc90.280d9","954bf550.aa5088","fdbb71b7.ca9b4"],"x":135,"y":300,"wires":[["78fe77ae.637248","8f30cdc7.d8d0a","f1199151.89ef6","7995fbed.e90774"]]},{"id":"ccefcc90.280d9","type":"link out","z":"4aee81d.130dd8","name":"","links":["f1bbe902.de5cd8","3a8b7430.734eec","d3eaeac4.a1c968"],"x":875,"y":200,"wires":[]},{"id":"954bf550.aa5088","type":"link out","z":"4aee81d.130dd8","name":"","links":["f1bbe902.de5cd8","3a8b7430.734eec","d3eaeac4.a1c968"],"x":175,"y":80,"wires":[]},{"id":"f1199151.89ef6","type":"python3-function","z":"4aee81d.130dd8","name":"display changelog","func":"with open(\"/home/pi/shared/ui/data/update.log\", \"r\") as file:\n    text=file.read()\nmsg['payload']=text\nreturn msg","outputs":1,"x":310,"y":380,"wires":[["e084eb09.ccf548"]]},{"id":"e084eb09.ccf548","type":"ui_template","z":"4aee81d.130dd8","group":"3ce32450.e0cffc","name":"changelog","order":3,"width":16,"height":7,"format":"<style>\n    #mylog {\n        min-height: 100px;\n        padding: 0;\n        white-space: pre;\n    }\n</style>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\">\n    <!-- file contents will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":490,"y":380,"wires":[[]]},{"id":"c8844641.814568","type":"python3-function","z":"4aee81d.130dd8","name":"init exec","func":"if msg['payload']!=\"Yes\":\n    return\npayload=msg['file']\n\nif payload==\"saved.json\":\n    msg['payload']=\"sudo \\cp /home/pi/shared/ui/data/old_flows/\"+payload+\" /home/pi/.node-red/flows_raspberrypi.json\"\nelse:\n    msg['payload']=\"sudo \\cp /home/pi/.node-red/flows_raspberrypi.json  /home/pi/shared/ui/data/old_flows/saved.json && sudo \\cp /home/pi/shared/ui/data/old_flows/\"+payload+\" /home/pi/.node-red/flows_raspberrypi.json\"\n\nmsg['payload2']=payload[:16]\nreturn msg\n\n","outputs":1,"x":740,"y":560,"wires":[["7e517945.e751d8","59489284.99141c","53d30b48.e7c2b4"]]},{"id":"fdbb71b7.ca9b4","type":"link out","z":"4aee81d.130dd8","name":"","links":["f1bbe902.de5cd8","3a8b7430.734eec","d3eaeac4.a1c968"],"x":1055,"y":520,"wires":[]},{"id":"501a81c3.027e5","type":"is online","z":"4aee81d.130dd8","name":"","url":"www.google.com","action":"0","x":300,"y":200,"wires":[["7aae1e89.08d37"]]},{"id":"5a50b653.49be68","type":"python3-function","z":"4aee81d.130dd8","name":"PopUp new Version","func":"from time import sleep\nsleep (1)\n\nif msg['payload']==\"new updates available\":\n    msg['payload']=\"-- New Updates Available --- Install & reboot now?\"\n    return msg","outputs":1,"x":290,"y":560,"wires":[["f8c24f06.ee9ec"]]},{"id":"f8c24f06.ee9ec","type":"ui_toast","z":"4aee81d.130dd8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"No","cancel":"Yes","raw":false,"className":"","topic":"","name":"","x":470,"y":560,"wires":[["fc87e670.3212f8"]]},{"id":"fc87e670.3212f8","type":"python3-function","z":"4aee81d.130dd8","name":"msg","func":"import os\n\nif msg['payload']!=\"Yes\":\n    return\nwith open(\"/home/pi/shared/log/currentserverversion.log\", \"r\") as file:\n    msg['file']=file.read()+\".json\"\n\nif os.stat(\"/home/pi/shared/ui/data/old_flows/\"+msg['file']).st_size==0:\n    return\n\nreturn msg","outputs":1,"x":610,"y":560,"wires":[["c8844641.814568"]]},{"id":"c7dea90b.5b6478","type":"link out","z":"4aee81d.130dd8","name":"","links":["118a6113.30ceef"],"x":1055,"y":480,"wires":[]},{"id":"b9a7fb02.25c808","type":"ui_template","z":"4aee81d.130dd8","group":"ddbd496e.93a288","name":"Syslog","order":7,"width":0,"height":0,"format":"<md-button ng-disabled=\"msg.disable\" style=\"background-color:{{msg.backgroundcolor}};color:{{msg.color}};width:100%; height:100%;\"   target=\"_blank\" ng-href=\"/ui/data/syslog.txt\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  Download Syslog\n</div></md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":570,"y":700,"wires":[[]]},{"id":"19c289e1.e54d16","type":"ui_switch","z":"4aee81d.130dd8","name":"","label":"Open Syslog","tooltip":"","group":"ddbd496e.93a288","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":700,"wires":[["88d06ec7e9e58ec5"]]},{"id":"873c1379.6273d","type":"inject","z":"4aee81d.130dd8","name":"","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"false","payloadType":"bool","x":110,"y":700,"wires":[["19c289e1.e54d16"]]},{"id":"214099a2.0c28c6","type":"ui_button","z":"4aee81d.130dd8","name":"","group":"ddbd496e.93a288","order":4,"width":0,"height":0,"passthru":false,"label":"Install Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Install & reboot now?","payloadType":"str","topic":"","x":640,"y":480,"wires":[["f8c24f06.ee9ec"]]},{"id":"7995fbed.e90774","type":"change","z":"4aee81d.130dd8","name":"","rules":[{"t":"set","p":"update","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":480,"wires":[["7525ccbe.ddc104"]]},{"id":"7525ccbe.ddc104","type":"python3-function","z":"4aee81d.130dd8","name":"disable","func":"msg['enabled']=False\nif msg['payload']==\"new updates available\":\n    msg[\"enabled\"]=True\nreturn msg","outputs":1,"x":480,"y":480,"wires":[["214099a2.0c28c6"]]},{"id":"9f479470.8e19d8","type":"inject","z":"4aee81d.130dd8","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"Started!","payloadType":"str","x":100,"y":480,"wires":[["7995fbed.e90774"]]},{"id":"ff2b5fe1.2d803","type":"delay","z":"4aee81d.130dd8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":440,"y":140,"wires":[["501a81c3.027e5"]]},{"id":"88d06ec7e9e58ec5","type":"python3-function","z":"4aee81d.130dd8","name":"create syslog","func":"from time import sleep\n\ntry:\n    with open('/var/log/syslog.1', 'r') as file:\n        syslog = syslog + file.read()\nexcept:\n    pass\n\nwith open('/var/log/syslog', 'r') as file:\n    syslog = file.read()\n\n\n\nwith open('/home/pi/shared/ui/data/syslog.txt', 'w+') as file:\n    file.write(syslog)\n\nif msg['payload'] == True:\n    msg['color'] = 'white'\n    msg['backgroundcolor'] = ' default'\n    msg['disable'] = False\n    sleep(0.5)\n    return msg\n\nmsg['color'] = 'transparent'\nmsg['backgroundcolor'] = ' transparent'\nmsg['disable'] = True\nreturn msg\n\n","outputs":1,"x":430,"y":700,"wires":[["b9a7fb02.25c808"]]},{"id":"721a91db171f8d43","type":"link in","z":"4aee81d.130dd8","name":"disable","links":["05762fd6277a4e0a","0295b7fad0351b47"],"x":35,"y":140,"wires":[["db31530a.7735b"]]},{"id":"49d7b659b4539a03","type":"link in","z":"4aee81d.130dd8","name":"disable","links":["05762fd6277a4e0a","0295b7fad0351b47"],"x":495,"y":80,"wires":[["4757554e.08088c"]]},{"id":"67175b14817bbd0e","type":"link in","z":"4aee81d.130dd8","name":"disable","links":["05762fd6277a4e0a","0295b7fad0351b47"],"x":535,"y":440,"wires":[["214099a2.0c28c6"]]},{"id":"1faa9c29a34277f0","type":"link in","z":"4aee81d.130dd8","name":"disable","links":["05762fd6277a4e0a","0295b7fad0351b47"],"x":155,"y":660,"wires":[["19c289e1.e54d16"]]}]
